<div class="card shadow">
  <div class="card-body">

    <%= simple_form_for([:admin, @admin_county_uf]) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-group row">
        <%= f.label :county, class: 'col-md-2 text-right col-form-label' %>
        <div class="col-md-3">
          <%= f.association :county, label: false, input_html: {class: 'form-control'} %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :property_type, 'Uso', class: 'col-md-2 text-right col-form-label' %>
        <div class="col-md-3">
          <%= f.association :property_type, label: false, input_html: {class: 'form-control'} %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :uf_min, class: 'col-md-2 text-right col-form-label' %>
        <div class="col-md-3">
          <%= f.input :uf_min, label: false, input_html: {class: 'form-control'} %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :uf_max, class: 'col-md-2 text-right col-form-label' %>
        <div class="col-md-3">
          <%= f.input :uf_max, label: false, input_html: {class: 'form-control'} %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-5 text-right">
          <%= link_to 'Cancelar', admin_county_ufs_path, :class => 'btn btn-secondary' %>
          <%= f.button :submit, class: 'btn btn-primary', value: "Guardar" %>
        </div>
      </div>

    <% end %>

  </div>
</div>
