<p id="notice"><%= notice %></p>

<h1>Project Instances</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Project status</th>
      <th>Bimester</th>
      <th>Year</th>
      <th>Active</th>
      <th>Default</th>
      <th>True</th>
      <th>Comments</th>
      <th>Cadastre</th>
      <th>Validated</th>
      <th>Default</th>
      <th>False</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_instances.each do |project_instance| %>
      <tr>
        <td><%= project_instance.project %></td>
        <td><%= project_instance.project_status %></td>
        <td><%= project_instance.bimester %></td>
        <td><%= project_instance.year %></td>
        <td><%= project_instance.active %></td>
        <td><%= project_instance.DEFAULT %></td>
        <td><%= project_instance.true %></td>
        <td><%= project_instance.comments %></td>
        <td><%= project_instance.cadastre %></td>
        <td><%= project_instance.validated %></td>
        <td><%= project_instance.DEFAULT %></td>
        <td><%= project_instance.false %></td>
        <td><%= link_to 'Show', project_instance %></td>
        <td><%= link_to 'Edit', edit_project_instance_path(project_instance) %></td>
        <td><%= link_to 'Destroy', project_instance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project Instance', new_project_instance_path %>
