<p id="notice"><%= notice %></p>

<div class="card shadow">
  <div class="card-body">
    <div class="form-row">
      <div class="col-md-6">
        <h2>Relevamientos del Proyecto</h2>
      </div>
      <div class="col-md-6 text-right">
        <%= link_to 'Nuevo', new_admin_project_project_instance_path(@project), :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>

<ul class="nav nav-pills justify-content-center">
  <li class="nav-item">
    <%= link_to t('menu.project.project'), edit_admin_project_path(@project.id), class: 'nav-link' %>
  </li>
  <li class="active">
    <a class="nav-link active" href="#"><%= t('menu.project.instances') %></a>
  </li>
</ul>

<div class="card shadow">
  <div class="card-body">
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>Bimester</th>
          <th>Oferta</th>
          <th>Disponibilidad</th>
          <th>PP_UF</th>
          <th>PP UF/m2</th>
          <th>% Vendido</th>
          <th>Estado</th>
          <th class="text-center" colspan="2">Acciones</th>
        </tr>
      </thead>

      <tbody>
        <% @project_instances.each do |project_instance| %>
          <tr>
            <td><%= project_instance.bimester %>B-<%= project_instance.year %></td>
            <td><%= project_instance.get_total_units %></td>
            <td><%= project_instance.get_total_available %></td>
            <td><%= project_instance.get_pp_uf %></td>
            <td><%= project_instance.get_pp_uf_m2 %></td>
            <td><%= project_instance.get_percent_venta %></td>
            <td><%= project_instance.project_status.name %></td>
            <td class="text-center"><%= link_to edit_admin_project_project_instance_path(@project, project_instance) do %> <i class="fas fa-edit" title="Editar"></i> <% end %> </td>
            <td class="text-center"><%= link_to admin_project_project_instance_path(@project, project_instance), method: :delete, data: { confirm: '¿Está seguro?' } do %> <i class="fas fa-trash-alt" title="Eliminar"></i> <% end %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
