<p id="notice"><%= notice %></p>

<h1>Relevamientos de Proyectos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Bimester</th>
      <th>Oferta</th>
      <th>Disponibilidad</th>
      <th>PP_UF</th>
      <th>PP UF/m2</th>
      <th>% Vendido</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_instances.each do |project_instance| %>
      <tr>
        <td><%= project_instance.bimester %>B-<%= project_instance.year %></td>
        <td><%= project_instance.get_total_units %></td>
        <td><%= project_instance.get_total_available %></td>
        <td><%= project_instance.get_pp_uf %></td>
        <td><%= project_instance.get_pp_uf_m2 %></td>
        <td><%= project_instance.get_percent_venta %></td>
        <td><%= project_instance.project_status.name %></td>
        <td><%= link_to 'Edit', edit_admin_project_project_instance_path(@project, project_instance) %></td>
        <td><%= link_to 'Destroy', admin_project_project_instance_path(@project, project_instance), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project Instance', new_admin_project_project_instance_path(@project) %>
