<p id="notice"><%= notice %></p>

<h1>Poi Subcategories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @poi_subcategories.each do |poi_subcategory| %>
      <tr>
        <td><%= poi_subcategory.name %></td>
        <td><%= link_to 'Show', poi_subcategory %></td>
        <td><%= link_to 'Edit', edit_poi_subcategory_path(poi_subcategory) %></td>
        <td><%= link_to 'Destroy', poi_subcategory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Poi Subcategory', new_poi_subcategory_path %>
