<p id="notice"><%= notice %></p>

<p>
  <strong>Age 0 9:</strong>
  <%= @censu.age_0_9 %>
</p>

<p>
  <strong>Age 10 19:</strong>
  <%= @censu.age_10_19 %>
</p>

<p>
  <strong>Age 20 29:</strong>
  <%= @censu.age_20_29 %>
</p>

<p>
  <strong>Age 30 39:</strong>
  <%= @censu.age_30_39 %>
</p>

<p>
  <strong>Age 40 49:</strong>
  <%= @censu.age_40_49 %>
</p>

<p>
  <strong>Age 50 59:</strong>
  <%= @censu.age_50_59 %>
</p>

<p>
  <strong>Age 60 69:</strong>
  <%= @censu.age_60_69 %>
</p>

<p>
  <strong>Age 70 79:</strong>
  <%= @censu.age_70_79 %>
</p>

<p>
  <strong>Age 80 more:</strong>
  <%= @censu.age_80_more %>
</p>

<p>
  <strong>Home 1p:</strong>
  <%= @censu.home_1p %>
</p>

<p>
  <strong>Home 2p:</strong>
  <%= @censu.home_2p %>
</p>

<p>
  <strong>Home 3p:</strong>
  <%= @censu.home_3p %>
</p>

<p>
  <strong>Home 4p:</strong>
  <%= @censu.home_4p %>
</p>

<p>
  <strong>Home 5p:</strong>
  <%= @censu.home_5p %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @censu.owner %>
</p>

<p>
  <strong>Leased:</strong>
  <%= @censu.leased %>
</p>

<p>
  <strong>Transferred:</strong>
  <%= @censu.transferred %>
</p>

<p>
  <strong>Free:</strong>
  <%= @censu.free %>
</p>

<p>
  <strong>Possession:</strong>
  <%= @censu.possession %>
</p>

<p>
  <strong>Male:</strong>
  <%= @censu.male %>
</p>

<p>
  <strong>Female:</strong>
  <%= @censu.female %>
</p>

<p>
  <strong>Married:</strong>
  <%= @censu.married %>
</p>

<p>
  <strong>Coexist:</strong>
  <%= @censu.coexist %>
</p>

<p>
  <strong>Single:</strong>
  <%= @censu.single %>
</p>

<p>
  <strong>Canceled:</strong>
  <%= @censu.canceled %>
</p>

<p>
  <strong>Separated:</strong>
  <%= @censu.separated %>
</p>

<p>
  <strong>Widowed:</strong>
  <%= @censu.widowed %>
</p>

<p>
  <strong>M status total:</strong>
  <%= @censu.m_status_total %>
</p>

<p>
  <strong>Not attended:</strong>
  <%= @censu.not_attended %>
</p>

<p>
  <strong>Basic:</strong>
  <%= @censu.basic %>
</p>

<p>
  <strong>High school:</strong>
  <%= @censu.high_school %>
</p>

<p>
  <strong>Cft:</strong>
  <%= @censu.cft %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @censu.ip %>
</p>

<p>
  <strong>University:</strong>
  <%= @censu.university %>
</p>

<p>
  <strong>Education level total:</strong>
  <%= @censu.education_level_total %>
</p>

<p>
  <strong>Salaried:</strong>
  <%= @censu.salaried %>
</p>

<p>
  <strong>Domestic service:</strong>
  <%= @censu.domestic_service %>
</p>

<p>
  <strong>Independient:</strong>
  <%= @censu.independient %>
</p>

<p>
  <strong>Employee employer:</strong>
  <%= @censu.employee_employer %>
</p>

<p>
  <strong>Unpaid familiar:</strong>
  <%= @censu.unpaid_familiar %>
</p>

<p>
  <strong>Labor total:</strong>
  <%= @censu.labor_total %>
</p>

<p>
  <strong>Abc1:</strong>
  <%= @censu.abc1 %>
</p>

<p>
  <strong>C2:</strong>
  <%= @censu.c2 %>
</p>

<p>
  <strong>C3:</strong>
  <%= @censu.c3 %>
</p>

<p>
  <strong>D:</strong>
  <%= @censu.d %>
</p>

<p>
  <strong>E:</strong>
  <%= @censu.e %>
</p>

<p>
  <strong>Socio economic total:</strong>
  <%= @censu.socio_economic_total %>
</p>

<p>
  <strong>Homes abc1:</strong>
  <%= @censu.homes_abc1 %>
</p>

<p>
  <strong>Homes c2:</strong>
  <%= @censu.homes_c2 %>
</p>

<p>
  <strong>Homes c3:</strong>
  <%= @censu.homes_c3 %>
</p>

<p>
  <strong>Homes d:</strong>
  <%= @censu.homes_d %>
</p>

<p>
  <strong>Homes e:</strong>
  <%= @censu.homes_e %>
</p>

<p>
  <strong>Predominant:</strong>
  <%= @censu.predominant %>
</p>

<p>
  <strong>Census source:</strong>
  <%= @censu.census_source %>
</p>

<p>
  <strong>County:</strong>
  <%= @censu.county %>
</p>

<p>
  <strong>Block:</strong>
  <%= @censu.block %>
</p>

<p>
  <strong>The geom:</strong>
  <%= @censu.the_geom %>
</p>

<p>
  <strong>Homes total:</strong>
  <%= @censu.homes_total %>
</p>

<p>
  <strong>Population total:</strong>
  <%= @censu.population_total %>
</p>

<%= link_to 'Edit', edit_censu_path(@censu) %> |
<%= link_to 'Back', census_path %>
