<p id="notice"><%= notice %></p>

<p>
  <strong>Property type:</strong>
  <%= @rent_transaction.property_type_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @rent_transaction.address %>
</p>

<p>
  <strong>Sheet:</strong>
  <%= @rent_transaction.sheet %>
</p>

<p>
  <strong>Number:</strong>
  <%= @rent_transaction.number %>
</p>

<p>
  <strong>Inscription date:</strong>
  <%= @rent_transaction.inscription_date %>
</p>

<p>
  <strong>Buyer name:</strong>
  <%= @rent_transaction.buyer_name %>
</p>

<p>
  <strong>Seller type:</strong>
  <%= @rent_transaction.seller_type_id %>
</p>

<p>
  <strong>Department:</strong>
  <%= @rent_transaction.department %>
</p>

<p>
  <strong>Blueprint:</strong>
  <%= @rent_transaction.blueprint %>
</p>

<p>
  <strong>Uf value:</strong>
  <%= @rent_transaction.uf_value %>
</p>

<p>
  <strong>Real value:</strong>
  <%= @rent_transaction.real_value %>
</p>

<p>
  <strong>Calculated value:</strong>
  <%= @rent_transaction.calculated_value %>
</p>

<p>
  <strong>Quarter:</strong>
  <%= @rent_transaction.quarter %>
</p>

<p>
  <strong>Quarter date:</strong>
  <%= @rent_transaction.quarter_date %>
</p>

<p>
  <strong>Year:</strong>
  <%= @rent_transaction.year %>
</p>

<p>
  <strong>Sample factor:</strong>
  <%= @rent_transaction.sample_factor %>
</p>

<p>
  <strong>County:</strong>
  <%= @rent_transaction.county_id %>
</p>

<p>
  <strong>The geom:</strong>
  <%= @rent_transaction.the_geom %>
</p>

<p>
  <strong>Cellar:</strong>
  <%= @rent_transaction.cellar %>
</p>

<p>
  <strong>Parking:</strong>
  <%= @rent_transaction.parking %>
</p>

<p>
  <strong>Role:</strong>
  <%= @rent_transaction.role %>
</p>

<p>
  <strong>Seller name:</strong>
  <%= @rent_transaction.seller_name %>
</p>

<p>
  <strong>Buyer rut:</strong>
  <%= @rent_transaction.buyer_rut %>
</p>

<p>
  <strong>Uf m2:</strong>
  <%= @rent_transaction.uf_m2 %>
</p>

<p>
  <strong>Tome:</strong>
  <%= @rent_transaction.tome %>
</p>

<p>
  <strong>Lot:</strong>
  <%= @rent_transaction.lot %>
</p>

<p>
  <strong>Block:</strong>
  <%= @rent_transaction.block %>
</p>

<p>
  <strong>Village:</strong>
  <%= @rent_transaction.village %>
</p>

<p>
  <strong>Surface:</strong>
  <%= @rent_transaction.surface %>
</p>

<p>
  <strong>Requirin entity:</strong>
  <%= @rent_transaction.requirin_entity %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @rent_transaction.comments %>
</p>

<p>
  <strong>Surveyor:</strong>
  <%= @rent_transaction.surveyor_id %>
</p>

<p>
  <strong>Active:</strong>
  <%= @rent_transaction.active %>
</p>

<p>
  <strong>Bimester:</strong>
  <%= @rent_transaction.bimester %>
</p>

<p>
  <strong>Code sii:</strong>
  <%= @rent_transaction.code_sii %>
</p>

<p>
  <strong>Total surface building:</strong>
  <%= @rent_transaction.total_surface_building %>
</p>

<p>
  <strong>Total surface terrain:</strong>
  <%= @rent_transaction.total_surface_terrain %>
</p>

<p>
  <strong>Uf m2 u:</strong>
  <%= @rent_transaction.uf_m2_u %>
</p>

<p>
  <strong>Uf m2 t:</strong>
  <%= @rent_transaction.uf_m2_t %>
</p>

<p>
  <strong>Role 1:</strong>
  <%= @rent_transaction.role_1 %>
</p>

<p>
  <strong>Role 2:</strong>
  <%= @rent_transaction.role_2 %>
</p>

<p>
  <strong>Code destination:</strong>
  <%= @rent_transaction.code_destination %>
</p>

<p>
  <strong>Code material:</strong>
  <%= @rent_transaction.code_material %>
</p>

<p>
  <strong>Year sii:</strong>
  <%= @rent_transaction.year_sii %>
</p>

<p>
  <strong>Role associated:</strong>
  <%= @rent_transaction.role_associated %>
</p>

<p>
  <strong>Additional roles:</strong>
  <%= @rent_transaction.additional_roles %>
</p>

<%= link_to 'Edit', edit_rent_transaction_path(@rent_transaction) %> |
<%= link_to 'Back', rent_transactions_path %>
