<p id="notice"><%= notice %></p>

<h1>Project Instance Mixes</h1>

<table class="table">
  <thead>
    <tr>
      <th><%= ProjectMix.human_attribute_name :mix_type %></th>
      <th><%= ProjectInstanceMix.human_attribute_name :total_units %></th>
      <th><%= ProjectInstanceMix.human_attribute_name :stock_units %></th>
      <th><%= ProjectInstanceMix.human_attribute_name :mix_usable_square_meters %></th>
      <th><%= ProjectInstanceMix.human_attribute_name :mix_terrace_square_meters %></th>
      <th><%= ProjectInstanceMix.human_attribute_name :mix_uf_value %></th>
      <th><%= ProjectInstanceMix.human_attribute_name :mix_uf_m2 %></th>
      <th><%= ProjectInstanceMix.human_attribute_name :mix_selling_speed %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @project_instance_mixes.each do |mix| %>
      <tr>
        <td><%= mix.project_mix_type %></td>
        <td><%= mix.total_units %></td>
        <td><%= number_with_precision(mix.stock_units, :precision => 0) %></td>
        <td><%= number_with_precision(mix.mix_usable_square_meters, :precision => 1) %></td>
        <td><%= number_with_precision(mix.mix_terrace_square_meters, :precision => 1) %></td>
        <td><%= number_with_precision(mix.uf_avg_percent, :precision => 0) %></td>
        <td><%= number_with_precision(mix.uf_m2, :precision => 1) %></td>
        <td><%= number_with_precision(mix.vhmu, :precision => 1) %></td>
        <td><%= link_to "Editar", edit_admin_project_project_instance_project_instance_mix_path(mix.project_instance.project, 
                                                                                     mix.project_instance, mix), :class => "ui-state-default ui-corner-all", :title => t('actions.edit') %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Project Instance Mix', new_admin_project_project_instance_project_instance_mix_path(@project, @project_instance) %>
