<p id="notice"><%= notice %></p>

<p>
  <strong>Project instance:</strong>
  <%= @project_instance_mix.project_instance %>
</p>

<p>
  <strong>Mix:</strong>
  <%= @project_instance_mix.mix_id %>
</p>

<p>
  <strong>Percentage:</strong>
  <%= @project_instance_mix.percentage %>
</p>

<p>
  <strong>Default:</strong>
  <%= @project_instance_mix.DEFAULT %>
</p>

<p>
  <strong>0:</strong>
  <%= @project_instance_mix.0 %>
</p>

<p>
  <strong>Stock units:</strong>
  <%= @project_instance_mix.stock_units %>
</p>

<p>
  <strong>Mix m2 field:</strong>
  <%= @project_instance_mix.mix_m2_field %>
</p>

<p>
  <strong>Mix m2 built:</strong>
  <%= @project_instance_mix.mix_m2_built %>
</p>

<p>
  <strong>Mix usable square meters:</strong>
  <%= @project_instance_mix.mix_usable_square_meters %>
</p>

<p>
  <strong>Mix terrace square meters:</strong>
  <%= @project_instance_mix.mix_terrace_square_meters %>
</p>

<p>
  <strong>Mix uf m2:</strong>
  <%= @project_instance_mix.mix_uf_m2 %>
</p>

<p>
  <strong>Mix selling speed:</strong>
  <%= @project_instance_mix.mix_selling_speed %>
</p>

<p>
  <strong>Mix uf value:</strong>
  <%= @project_instance_mix.mix_uf_value %>
</p>

<p>
  <strong>Living room:</strong>
  <%= @project_instance_mix.living_room %>
</p>

<p>
  <strong>Service room:</strong>
  <%= @project_instance_mix.service_room %>
</p>

<p>
  <strong>H office:</strong>
  <%= @project_instance_mix.h_office %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @project_instance_mix.discount %>
</p>

<p>
  <strong>Uf min:</strong>
  <%= @project_instance_mix.uf_min %>
</p>

<p>
  <strong>Uf max:</strong>
  <%= @project_instance_mix.uf_max %>
</p>

<p>
  <strong>Uf parking:</strong>
  <%= @project_instance_mix.uf_parking %>
</p>

<p>
  <strong>Uf cellar:</strong>
  <%= @project_instance_mix.uf_cellar %>
</p>

<p>
  <strong>Common expenses:</strong>
  <%= @project_instance_mix.common_expenses %>
</p>

<p>
  <strong>Withdrawal percent:</strong>
  <%= @project_instance_mix.withdrawal_percent %>
</p>

<p>
  <strong>Total units:</strong>
  <%= @project_instance_mix.total_units %>
</p>

<p>
  <strong>T min:</strong>
  <%= @project_instance_mix.t_min %>
</p>

<p>
  <strong>T max:</strong>
  <%= @project_instance_mix.t_max %>
</p>

<p>
  <strong>Home type:</strong>
  <%= @project_instance_mix.home_type %>
</p>

<p>
  <strong>Model:</strong>
  <%= @project_instance_mix.model %>
</p>

<%= link_to 'Edit', edit_project_instance_mix_path(@project_instance_mix) %> |
<%= link_to 'Back', project_instance_mixes_path %>
