<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @rent_project.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @rent_project.name %>
</p>

<p>
  <strong>County:</strong>
  <%= @rent_project.county %>
</p>

<p>
  <strong>Project type:</strong>
  <%= @rent_project.project_type %>
</p>

<p>
  <strong>Floors:</strong>
  <%= @rent_project.floors %>
</p>

<p>
  <strong>Sale date:</strong>
  <%= @rent_project.sale_date %>
</p>

<p>
  <strong>Catastral date:</strong>
  <%= @rent_project.catastral_date %>
</p>

<p>
  <strong>Offer:</strong>
  <%= @rent_project.offer %>
</p>

<p>
  <strong>Surface util:</strong>
  <%= @rent_project.surface_util %>
</p>

<p>
  <strong>Terrace:</strong>
  <%= @rent_project.terrace %>
</p>

<p>
  <strong>Price:</strong>
  <%= @rent_project.price %>
</p>

<p>
  <strong>The geom:</strong>
  <%= @rent_project.the_geom %>
</p>

<p>
  <strong>Bedroom:</strong>
  <%= @rent_project.bedroom %>
</p>

<p>
  <strong>Bathroom:</strong>
  <%= @rent_project.bathroom %>
</p>

<p>
  <strong>Half bedroom:</strong>
  <%= @rent_project.half_bedroom %>
</p>

<p>
  <strong>Total beds:</strong>
  <%= @rent_project.total_beds %>
</p>

<p>
  <strong>Population per building:</strong>
  <%= @rent_project.population_per_building %>
</p>

<p>
  <strong>Square meters terrain:</strong>
  <%= @rent_project.square_meters_terrain %>
</p>

<p>
  <strong>Uf terrain:</strong>
  <%= @rent_project.uf_terrain %>
</p>

<p>
  <strong>Bimester:</strong>
  <%= @rent_project.bimester %>
</p>

<p>
  <strong>Year:</strong>
  <%= @rent_project.year %>
</p>

<%= link_to 'Edit', edit_rent_project_path(@rent_project) %> |
<%= link_to 'Back', rent_projects_path %>
