<div class="form-signin">

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="form-group">
      <center> <%=image_tag "round_inciti.png", class: "mb-4", height:"120" %> </center>
      <%= f.text_field :name, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: "Usuario" %>
      <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', placeholder: "Contraseña" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="checkbox mb-3">
        <center>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, 'Recuérdame' %>
        </center>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit class: 'btn btn-lg btn-primary btn-block', value: "Ingresa" %>
    </div>

  <% end %>

  <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>
  
  <%= render "users/shared/links" %>

</div>
