<h2>Normativa</h2>
<%= a.input :layer_type, input_html: {value: "Normativa"}, as: :hidden %>
<%= a.input :allow_uses, label: "Usos Permitidos" %>
<%= a.input :construct, label: "Constructibilidad" %>
<%= a.input :osinciti, label: "Ocupación Suelo" %>
<%= a.input :density, label: "Densidad" %>
<%= a.input :grouping, label: "Agrupación" %>
<%= a.input :aminciti, label: "Altura Máxima" %>
<%= a.input :parkings, label: "Estacionamientos" %>
<%= a.text_area :comments, label: "Comentarios" %>
