
<%= simple_form_for(@building_regulation) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :building_zone %>
    <%= f.input :construct %>
    <%= f.input :land_ocupation %>
    <%= f.input :site %>
    <%= f.input :the_geom %>
    <%= f.input :identifier %>
    <%= f.association :density_type %>
    <%= f.association :county %>
    <%= f.input :comments %>
    <%= f.input :hectarea_inhabitants %>
    <%= f.input :grouping %>
    <%= f.input :parkings %>
    <%= f.input :am_cc %>
    <%= f.input :aminciti %>
    <%= f.input :icinciti %>
    <%= f.input :osinciti %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
