<p id="notice"><%= notice %></p>

<p>
  <strong>Building zone:</strong>
  <%= @building_regulation.building_zone %>
</p>

<p>
  <strong>Construct:</strong>
  <%= @building_regulation.construct %>
</p>

<p>
  <strong>Land ocupation:</strong>
  <%= @building_regulation.land_ocupation %>
</p>

<p>
  <strong>Site:</strong>
  <%= @building_regulation.site %>
</p>

<p>
  <strong>The geom:</strong>
  <%= @building_regulation.the_geom %>
</p>

<p>
  <strong>Identifier:</strong>
  <%= @building_regulation.identifier %>
</p>

<p>
  <strong>Density type:</strong>
  <%= @building_regulation.density_type %>
</p>

<p>
  <strong>County:</strong>
  <%= @building_regulation.county %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @building_regulation.comments %>
</p>

<p>
  <strong>Hectarea inhabitants:</strong>
  <%= @building_regulation.hectarea_inhabitants %>
</p>

<p>
  <strong>Grouping:</strong>
  <%= @building_regulation.grouping %>
</p>

<p>
  <strong>Parkings:</strong>
  <%= @building_regulation.parkings %>
</p>

<p>
  <strong>Am cc:</strong>
  <%= @building_regulation.am_cc %>
</p>

<p>
  <strong>Aminciti:</strong>
  <%= @building_regulation.aminciti %>
</p>

<p>
  <strong>Icinciti:</strong>
  <%= @building_regulation.icinciti %>
</p>

<p>
  <strong>Osinciti:</strong>
  <%= @building_regulation.osinciti %>
</p>

<%= link_to 'Edit', edit_building_regulation_path(@building_regulation) %> |
<%= link_to 'Back', building_regulations_path %>
