<div class="modal fade" id="modal-account" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content text-light">

      <div class="modal-header">
        <h5 class="modal-title"> Editar Usuario </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <%= simple_form_for(@user, url: users_update_path, method: :put, remote: true) do |f|  %>

        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="modal-body">
        <div class="form-group row">
          <div class="col-md-5 text-right">
            <%= f.label :name %>
          </div>
          <div class="col-md-7">
            <%= f.input :name, label: false %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-5 text-right">
            <%= f.label :complete_name %>
          </div>
          <div class="col-md-7">
            <%= f.input :complete_name, label: false %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-5 text-right">
            <%= f.label :email, "E-mail" %>
          </div>
          <div class="col-md-7">
            <%= f.input :email, label: false %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-5 text-right">
            <%= f.label :company %>
          </div>
          <div class="col-md-7">
            <%= f.input :company, label: false %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-5 text-right">
            <%= f.label :city %>
          </div>
          <div class="col-md-7">
            <%= f.input :city, label: false %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-5 text-right">
            <%= f.label :password %>
          </div>
          <div class="col-md-7">
            <%= f.password_field :password, autocomplete: "new-password", label: false %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-5 text-right">
            <%= f.label :password_confirmation, "Confirme Contraseña" %>
          </div>
          <div class="col-md-7">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", label: false %>
          </div>
        </div>
        <div id="users_error"></div>
      </div>

      <div class="modal-footer">
        <%= f.submit class: 'btn btn-primary', value: "Guardar" %>
      </div>

      <% end %>

    </div>
  </div>
</div>
