<p id="notice"><%= notice %></p>

<h1>Feedbacks</h1>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Usuario</th>
      <th>Capa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr>
        <td><%= feedback.id %></td>
        <td><%= feedback.layer_type %></td>
        <td><%= feedback.user.name %></td>
        <td><%= link_to 'Ver', admin_feedback_path(feedback) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
