<div class="form-row line">
  <div class="col-3">
    <%= f.input :property_type_id, label: false, prompt: 'Tipo', collection: property_type_for_select, input_html: { class: 'form-control form-control-sm' } %>
  </div>
  <div class="col-5">
    <%= f.input :address, label: false, placeholder: 'Dirección', input_html: { class: 'form-control form-control-sm' } %>
  </div>
  <div class="col-1">
    <%= f.text_field :building_surface, label: false, placeholder: 'Um²', class: 'form-control form-control-sm' %>
  </div>
  <div class="col-1">
    <%= f.input :terrain_surface, label: false, placeholder: 'Tm²', input_html: { class: 'form-control form-control-sm' } %>
  </div>
  <div class="col-1">
    <%= f.input :uf, label: false, placeholder: 'UF', input_html: { class: 'form-control form-control-sm' } %>
  </div>
  <div class="col-1">
    <%= f.input :_destroy, as: :hidden %>
    <%= link_to '#', class: 'r_ten' do %> <i class="fas fa-trash-alt " title="Eliminar"></i> <%end%>
  </div>
</div>
