<div class="form-row line">
  <div class="col-2">
    <%= f.input :county_id, label: false, collection: counties_for_select, input_html: { class: 'form-control form-control-sm'}%>
  </div>
  <div class="col-2">
    <%= f.input :address, label: false, input_html: { class: 'form-control form-control-sm' } %>
  </div>
  <div class="col-1">
    <%= f.input :parking, label: false, input_html: { class: 'form-control form-control-sm' } %>
  </div>
  <div class="col-1">
    <%= f.input :cellar, label: false, input_html: { class: 'form-control form-control-sm' } %>
  </div>
  <div class="col-2">
    <%= f.input :property_type_id, label: false, collection: property_type_for_select, input_html: { class: 'form-control form-control-sm' } %>
  </div>
  <div class="col-1">
    <%= f.input :building_surface, label: false, input_html: { class: 'form-control' } %>
  </div>
  <div class="col-1">
    <%= f.input :terrain_surface, label: false, input_html: { class: 'form-control' } %>
  </div>
  <div class="col-1">
    <%= f.input :uf, label: false, input_html: { class: 'form-control form-control-sm' } %>
  </div>
  <div class="col-1">
    <%= f.input :_destroy, as: :hidden %>
    <%= link_to 'X', '#', class: 'r_ten' %>
</div>
</div>
