<p id="notice"><%= notice %></p>

<div class="modal fade" id="buy_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

<div class="modal fade" id="info_modal" tabindex="-1" aria-labelledby="info_modal_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="info_modal_label">Información</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>Fechas de actualización</h4>
        <li>Santiago: 29/06/2021</li>
        <li>San Miguel: 28/05/2019</li>
        <li>San Bernardo: 09/04/2019</li>
        <li>Puente Alto: 06/12/2019</li>
        <hr>
        <hr>
        Te invitamos a leer el <a href='http://www.inciti.com/2021/09/14/uso-de-flex-2-0' target=”_blank”> instructivo</a> sobre el uso de Flex 2.0
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="card shadow">
  <div class="card-body">
    <div class="form-row">
      <div class="col-md-4 text-center offset-md-4">
        <h2>Reportes</h2>
      </div>
      <div class="col-md-4 text-right">
        <% if has_orders? %>
          <%= link_to 'Nuevo', new_flex_flex_report_path, :class => 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% if @flex_reports.present? %>
  <div class="card shadow">
    <div class="card-body">
      <%= will_paginate @flex_reports %>
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Usuario</th>
            <th>Creación</th>
            <th colspan="2" class="text-center">Acciones</th>
          </tr>
        </thead>

        <tbody>
          <% @flex_reports.each do |flex_report| %>
            <tr>
              <td><%= flex_report.name %></td>
              <td><%= flex_report.user %></td>
              <td><%= l(flex_report.created_at, format: "%d %B, %Y") %></td>
              <td class="text-center"> <%= link_to 'XLS', flex_flex_report_path(flex_report, format: :xlsx) %></td>
              <td class="text-center"> <%= link_to 'PDF', flex_flex_report_path(flex_report, format: :js), remote: true %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @flex_reports %>
    </div>
  </div>
<% end %>

<div class="hidden charts d-none" style="width: 720px">
  <div class="row">
    <div class="col-6">
      <p class="text-center">Cantidad</p>
      <canvas id="chartCantidadPDF"></canvas>
    </div>
    <div class="col-6">
      <p class="text-center">Superficie útil</p>
      <canvas id="chartSupUtilPDF"></canvas>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <p class="text-center">Precio</p>
      <canvas id="chartPrecioPDF"></canvas>
    </div>
    <div class="col-6">
      <p class="text-center">Precio Unitario Útil</p>
      <canvas id="chartPrecioUnitarioPDF"></canvas>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <p class="text-center">Volumen de Mercado (Uf miles)</p>
      <canvas id="chartVolMercadoPDF"></canvas>
    </div>
    <div class="col-6">
      <p class="text-center">Superficie útil</p>
      <canvas id="chartSupUtil-barrasPDF"></canvas>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <p class="text-center">Precio</p>
      <canvas id="chartPrecio-barrasPDF"></canvas>
    </div>
    <div class="col-6">
      <p class="text-center">Precio Unitario Útil</p>
      <canvas id="chartPrecioUnitario-barrasPDF"></canvas>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <p class="text-center">Superficie por UF</p>
      <canvas id="chartSupUFPDF"></canvas>
    </div>
  </div>
</div>
