<div id="alerts"></div>
<div data-downloads-xls></div>
<div class="flex-dashboard">
  <div class="container-fluid">
    <div class="row border border-light h-1440">

      <!-- Mapa -->
      <div class="col-3 p-0">
        <div class="col-12 p-0 map-box">
          <div id="map_flex" class="h-1440"></div>
        </div>
      </div>

      <!-- Filtros -->
      <div class="col-4 p-0">
        <div class="col-12 select-box p-0 border border-light h-1440" id="intro">
          <div class="d-flex justify-content-center align-items-center bg-1 h-100">
            <div class="container">
              <p class="text-center">Seleccione en el mapa</p>
            </div>
          </div>
        </div>
        <%= render 'flex/dashboards/filters' %>
      </div>

      <!-- Tabla -->
      <div class="col-5 p-0 bg-dark border border-light">
        <div class="col-md-12 table-box p-0 h-1440">
          <div class="container-fluid mh-1248">
            <div class="container px-2">
              <%= simple_form_for([:flex, @flex_report], remote: true) do |f| %>
                <div class="d-flex flex-row justify-content-between" id="up_table">
                  <%= f.input :name, label: false, placeholder: 'Nombre del Reporte', input_html: {class:'form-control form-control-sm'} %>
                  <%= f.input :transaction_ids, as: :hidden, input_html: { data: { flex_transactions_ids: true }} %>
                  <%= f.submit "Generar", class: 'btn btn-secondary btn-sm d-none', data: {generate: true, confirm: '¿Está seguro que desea generar el informe?'} %>
                  <div class="label mx-2" id="somediv">
                    <span class="m-0" id="cantidad-registros-tabla"></span>
                  </div>
                  <%= link_to_add_fields "Agregar Propiedad", f, :tenements %>
                </div>
                <%= f.fields_for :tenements do |s| %>
                  <%= render 'tenement', f: s %>
                <% end %>
              <% end %>
            </div>
            <%= render 'flex/dashboards/table' %>
          </div>
        </div>
      </div>

    </div>
    <%= render 'flex/dashboards/charts' %>
  </div>
</div>
<div class="hidden charts bg-white d-none" style="width: 720px">
  <div class="row">
    <div class="col-6">
      <p class="text-center">Cantidad</p>
      <canvas id="chartCantidadPDF"></canvas>
    </div>
    <div class="col-6">
      <p class="text-center">Superficie útil</p>
      <canvas id="chartSupUtilPDF"></canvas>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <p class="text-center">Precio</p>
      <canvas id="chartPrecioPDF"></canvas>
    </div>
    <div class="col-6">
      <p class="text-center">Precio unitario</p>
      <canvas id="chartPrecioUnitarioPDF"></canvas>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <p class="text-center">Volumen de Mercado (Uf miles)</p>
      <canvas id="chartVolMercadoPDF"></canvas>
    </div>
    <div class="col-6">
      <p class="text-center">Superficie útil</p>
      <canvas id="chartSupUtil-barrasPDF"></canvas>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <p class="text-center">Precio</p>
      <canvas id="chartPrecio-barrasPDF"></canvas>
    </div>
    <div class="col-6">
      <p class="text-center">Precio unitario</p>
      <canvas id="chartPrecioUnitario-barrasPDF"></canvas>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <p class="text-center">Superficie por UF</p>
      <canvas id="chartSupUFPDF"></canvas>
    </div>
  </div>
</div>
