<div id="alerts"></div>

<div class="flex-dashboard">
  <div class="container-fluid">
    <div class="row border border-light">

      <!-- Mapa -->
      <div class="col-xl-3 p-0">
        <div class="col-12 p-0 map-box">
          <div id="map_flex"></div>
        </div>
      </div>

      <!-- Filtros -->
      <div class="col-xl-4 p-0">
        <div class="col-12 select-box p-0 border border-light" id="intro">
          <div class="d-flex justify-content-center align-items-center bg-1 h-100">
            <div class="container">
              <p class="text-center">Seleccione en el mapa</p>
            </div>
          </div>
        </div>
        <%= render 'flex/dashboards/filters' %>
      </div>

      <!-- Tabla -->
      <div class="col-xl-5 p-0 bg-dark border border-light">
        <div class="col-md-12 table-box p-0">
          <div class="container-fluid mh-1248">
            <div class="container">
              <div class="row justify-content-md-center my-1">
                <div class="label" id="somediv"></div>
                <%= link_to "Nuevo", new_flex_dashboard_path(), remote: true, class: "btn btn-light btn-sm ml-2", data: { flex_property: true  } %>
                <div class="col-6">
                  <%= simple_form_for([:flex, @flex_report], remote: true) do |f| %>
                    <div class="form-row">
                    <%= f.input :name, label: false, placeholder: 'Nombre del Reporte',input_html: {class:'form-control form-control-sm'} %>
                    <%= f.submit "Generar", class: 'btn btn-outline-light btn-sm d-none',
                      data: {
                        generate: true,
                        confirm: '¿Esta seguro de generar el informe?'
                      } %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
            <%= render 'flex/dashboards/table' %>
          </div>
        </div>
      </div>

    </div>
    <%= render 'flex/dashboards/charts' %>
  </div>
</div>
