<tr>
  <td><%= application_status.created_at.strftime("%d/%m/%Y %H:%M:%S") %></td>
  <td><%= application_status.name %></td>
  <td><%= application_status.description %></td>
  <td class="text-center"><%= link_to application_statuses_load_path(id:application_status.id), remote: true do %>  <i class="fas fa-cloud-download-alt " title="Cargar"></i> <% end %></td>
  <td class="text-center"><%= link_to application_statuses_colleagues_path(id:application_status.id), remote: true do %>  <i class="fas fa-share-alt " title="Compartir"></i> <% end %></td>
  <td class="text-center"><%= link_to application_status, method: :delete, data: { confirm: '¿Está seguro?' } do %> <i class="fas fa-trash-alt " title="Eliminar"></i> <%end%></td>
</tr>
