<div class="span">
  <table class="bordered-table zebra-striped">
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Bimestre</th>
        <th>Año</th>
        <th>Nombre</th>
        <th>Comuna</th>
        <th>PS Terreno Min</th>
        <th>PS Terreno Max</th>
        <th>Utiles Min.</th>
        <th>Utiles Max.</th>
        <th>% Desc.</th>
        <th>Uf Min %D</th>
        <th>Uf Max %D</th>
        <th>PP UF</th>
        <th>Uf m2</th>
        <th>UF/m² util + t Min</th>
        <th>UF/m² util + t Max</th>
        <th>PP UF/m² ut</th>
        <th>Oferta Inicial</th>
        <th>Disponible</th>
        <th>Venta</th>
        <th>VMR</th>
        <th>VMD</th>
        <th>Pxqr</th>
        <th>Pxqd</th>
        <th>Estado</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.code %></td>
          <td><%= project.bimester  %> </td>  
          <td><%= project.year  %> </td>  
          <td><%= link_to project.name, edit_admin_project_path(project.project_id) %> </td>  
          <td><%= project.county.name %> </td>  
          <td><%= project.ps_terreno_min  %> </td>  
          <td><%= project.ps_terreno_max  %> </td>  
          <td><%= project.min_utiles  %> </td>  
          <td><%= project.max_utiles  %> </td>  
          <td><%= project.discount  %> </td>  
          <td><%= project.uf_min_percent  %> </td>  
          <td><%= project.uf_min_percent  %> </td>  
          <td><%= project.pp_uf  %> </td>  
          <td><%= project.uf_m2_ut_min  %> </td>  
          <td><%= project.uf_m2_ut_max  %> </td>  
          <td><%= project.pp_ufm2ut  %> </td>  
          <td><%= project.total_units  %> </td>  
          <td><%= project.stock_units  %> </td>  
          <td><%= project.sold_units  %> </td>  
          <td><%= project.vhmu  %> </td>  
          <td><%= project.percentage_sold  %> </td>  
          <td><%= project.vhmud  %> </td>  
          <td><%= project.pxq  %> </td>  
          <td><%= project.pxq_d  %> </td>  
          <td><%= project.status  %> </td>  

        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="pull-left">
    <%= will_paginate %>
  </div>

