<%= simple_form_for :search, url: admin_projects_generate_csv_path,
  method: :get do |f| %>

  <div class="card">
    <%= f.input :project_type_id,
      label: t('activerecord.attributes.kpi.property_type'),
      collection: [['CASAS', '1'], ['DEPARTAMENTOS', '2']],
      input_html: {class: 'form-control'},
      wrapper_html: {class: 'form-group col-md-4'},
      prompt: 'Seleccione tipo de proyecto'%>
    <%= f.input :year,
      label: t('activerecord.attributes.kpi.year'),
      collection: 2010..Date.today.year,
      input_html:{ class: 'form-control'},
      wrapper_html:{ class: "form-group col-md-4"},
      prompt: 'Seleccione año'
    %>
    <%= f.input :bimester,
      label: t('activerecord.attributes.kpi.bimester'),
      collection: 1..6,
      input_html:{ class: 'form-control'},
      wrapper_html:{ class: "form-group col-md-4"},
      prompt: 'Seleccione año'%>
    <%= f.input :kpi_type,
      collection: [['Poligonos', 1], ['Comunas', 2]],
      prompt: "Seleccione",
      input_html:{ class: 'form-control'},
      wrapper_html:{ class: "form-group col-md-4"} %>
    <%= f.input :polygon_id, label: false,
      collection: application_statuses_for_select,
      prompt:"Seleccione poligono",
      input_html:{ class: "form-control"},
      wrapper_html:{ class: "form-group col-md-4 ml-4"} %>
    <%= f.input :county_id, label: false,
      collection: counties_for_select,
      prompt: "Seleccione comuna",
      input_html:{ class: "'form-control col-md-4",
                   multiple: true, size: 10,
                   include_hidden: false},
      wrapper_html:{ class: "form-group col-md-4 ml-4"} %>
  <%= f.submit "Buscar", class: 'btn primary'%>
  </div>
<% end %>
