<p id="notice"><%= notice %></p>

<div class="card shadow">
  <div class="card-body pb-1">
    <div class="form-row">
      <div class="col-md-2">
        <h2>Proyectos</h2>
      </div>
      <div class="col-md-8 text-center">
        <%= render partial: 'search' %>
      </div>
      <div class="col-md-2 text-right">
        <%= link_to 'Nuevo', new_admin_project_path, :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
<% if !@projects.blank? %>
  <% if params['project_type_id']  == '2' || @projects[0].project_type_id == 2  %>
    <%=render :partial => 'department'  %>
  <% else %>
    <%=render :partial => 'home'  %>
  <% end %>
<% end %>
