<%= form_tag admin_downloads_users_path, method: :get do |f| %>
  <div class="form-row">
    <div class="form-group col-md-5">
      <%= select_tag :user_id, options_for_select(@users), :include_blank => "Usuario", :class => "form-control form-control-sm" %>
    </div>
    <div class="form-group col-md-5">
      <%= check_box_tag :disabled_only %>
      <%= label_tag :disabled_only, 'Solo Deshabilitados' %>
    </div>
    <div class="form-group col-md-2">
      <%= submit_tag t('menu.downloads_user.search'), :class => "btn btn-sm btn-primary" %>
    </div>
  </div>
<% end %>
