<p id="notice"><%= notice %></p>

<div class="card shadow">
  <div class="card-body">
    <div class="form-row">
      <div class="col-md-4">
        <h2>Descargas XLS de Usuarios</h2>
      </div>
      <div class="col-md-4 text-center">
        <%= render :partial => "filters" %>
      </div>
    </div>
  </div>
</div>

<div class="card shadow">
  <div class="card-body">
    <%= form_tag update_status_admin_downloads_users_path, method: :patch do %>
      <table class="table table-striped table-hover table-bordered">
        <tr>
          <th>Usuario</th>
          <th>Titulo</th>
          <th>Creación</th>
          <th>CBR</th>
          <th>PRV</th>
          <th>EM</th>
          <th colspan="2" class="text-center">Acciones</th>
          <th class="text-center"><%= check_box_tag "select-all-checkbox" %></th>
        </tr>
        <% @downloads_users.each do |du| %>
          <tr>
            <td><%= du.user.name %></td>
            <td><%= du.title %></td>
            <td><%= l(du.created_at, format: "%d %B, %Y") %></td>
            <td><%= du.transactions %></td>
            <td><%= du.projects %></td>
            <td><%= du.future_projects %></td>
            <td class="text-center"><%= link_to downloads_users_reports_by_layer_path(id: du.id) do %><i class="fas fa-download" title="Descargar"></i><% end %></td>
            <td class="text-center"><%= link_to admin_downloads_user_path(du), method: :delete, data: { confirm: '¿Estás seguro de que deseas eliminar esta descarga?' } do %><i class="fas fa-trash-alt" title="Eliminar"></i><% end %></td>
            <td class="text-center"><%= check_box_tag "downloads_user_ids[]", du.id, false, class: "row-checkbox" %></td>
          </tr>
        <% end %>
      </table>
      <div class="row">
        <div class="col-6">
          <%= will_paginate @downloads_users %>
        </div>
        <div class="col-6">
          <div class="text-right">
            <% if @disabled_only %>
              <%= submit_tag "Habilitar", class: "btn btn-sm btn-success", name: "commit" %>
            <% else %>
              <%= submit_tag "Deshabilitar", class: "btn btn-sm btn-danger", name: "commit" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const selectAllCheckbox = document.querySelector("#select-all-checkbox");
    const checkboxes = document.querySelectorAll(".row-checkbox");

    selectAllCheckbox.addEventListener("change", function() {
      checkboxes.forEach(function(checkbox) {
        checkbox.checked = selectAllCheckbox.checked;
      });
    });

    checkboxes.forEach(function(checkbox) {
      checkbox.addEventListener("change", function() {
        selectAllCheckbox.checked = Array.from(checkboxes).every(function(checkbox) {
          return checkbox.checked;
        });
      });
    });
  });
</script>
