<h2>Projects</h2>
<%= a.input :layer_type, input_html: {value: "PRV"}, as: :hidden %>
<%= a.input :address %>
<%= a.input :name %>
<%= a.input :status %>
<%= a.input :total_units %>
<%= a.input :stock %>
<%= a.input :sold_units %>
<%= a.input :floors %>
<%= a.input :uf_m2 %>
<%= a.input :date_building %>
<%= a.input :date_sold %>
<%= a.input :data_transfer%>
<%= a.input :comments%>

