<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @project.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @project.address %>
</p>

<p>
  <strong>Floors:</strong>
  <%= @project.floors %>
</p>

<p>
  <strong>Default:</strong>
  <%= @project.DEFAULT %>
</p>

<p>
  <strong>0:</strong>
  <%= @project.0 %>
</p>

<p>
  <strong>County:</strong>
  <%= @project.county_id %>
</p>

<p>
  <strong>Agency:</strong>
  <%= @project.agency_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @project.integer %>
</p>

<p>
  <strong>Project type:</strong>
  <%= @project.project_type_id %>
</p>

<p>
  <strong>The geom:</strong>
  <%= @project.the_geom %>
</p>

<p>
  <strong>Build date:</strong>
  <%= @project.build_date %>
</p>

<p>
  <strong>Sale date:</strong>
  <%= @project.sale_date %>
</p>

<p>
  <strong>Transfer date:</strong>
  <%= @project.transfer_date %>
</p>

<p>
  <strong>Pilot opening date:</strong>
  <%= @project.pilot_opening_date %>
</p>

<p>
  <strong>Quantity department for floor:</strong>
  <%= @project.quantity_department_for_floor %>
</p>

<p>
  <strong>Elevators:</strong>
  <%= @project.elevators %>
</p>

<p>
  <strong>General observation:</strong>
  <%= @project.general_observation %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
