<p id="notice"><%= notice %></p>

<p>
  <strong>Publish:</strong>
  <%= @bot.publish %>
</p>

<p>
  <strong>Code:</strong>
  <%= @bot.code %>
</p>

<p>
  <strong>Type:</strong>
  <%= @bot.type %>
</p>

<p>
  <strong>Modality:</strong>
  <%= @bot.modality %>
</p>

<p>
  <strong>Properties:</strong>
  <%= @bot.properties %>
</p>

<p>
  <strong>Region:</strong>
  <%= @bot.region %>
</p>

<p>
  <strong>Comune:</strong>
  <%= @bot.comune %>
</p>

<p>
  <strong>Street:</strong>
  <%= @bot.street %>
</p>

<p>
  <strong>Number:</strong>
  <%= @bot.number %>
</p>

<p>
  <strong>Furnished:</strong>
  <%= @bot.furnished %>
</p>

<p>
  <strong>Apt:</strong>
  <%= @bot.apt %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @bot.floor %>
</p>

<p>
  <strong>Bedroom:</strong>
  <%= @bot.bedroom %>
</p>

<p>
  <strong>Bathroom:</strong>
  <%= @bot.bathroom %>
</p>

<p>
  <strong>Parkink lo:</strong>
  <%= @bot.parkink_lo %>
</p>

<p>
  <strong>Cellar:</strong>
  <%= @bot.cellar %>
</p>

<p>
  <strong>Surface:</strong>
  <%= @bot.surface %>
</p>

<p>
  <strong>Surface t:</strong>
  <%= @bot.surface_t %>
</p>

<p>
  <strong>Price:</strong>
  <%= @bot.price %>
</p>

<p>
  <strong>Price uf:</strong>
  <%= @bot.price_uf %>
</p>

<p>
  <strong>Price usd:</strong>
  <%= @bot.price_usd %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @bot.owner %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @bot.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @bot.email %>
</p>

<p>
  <strong>Bimester:</strong>
  <%= @bot.bimester %>
</p>

<p>
  <strong>The geom:</strong>
  <%= @bot.the_geom %>
</p>

<%= link_to 'Edit', edit_bot_path(@bot) %> |
<%= link_to 'Back', bots_path %>
