<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @density_type.name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @density_type.color %>
</p>

<p>
  <strong>Position:</strong>
  <%= @density_type.position %>
</p>

<p>
  <strong>Identifier:</strong>
  <%= @density_type.identifier %>
</p>

<%= link_to 'Edit', edit_density_type_path(@density_type) %> |
<%= link_to 'Back', density_types_path %>
