<p id="notice"><%= notice %></p>

<div class="card shadow">
  <div class="card-body">
    <div class="form-row">
      <div class="col-md-6">
        <h2>Importaciones</h2>
      </div>
      <div class="col-md-6 text-right">
        <%= link_to 'Nueva', new_admin_import_process_path, :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>

<div class="card shadow">
  <div class="card-body">
    <table class="table table-striped table-hover table-bordered">

      <tbody>
        <% @import_processes.each do |process| %>
          <tr class="status">
            <td>
              <%= link_to admin_import_process_path(process) do %>
                <%= short_description process %><br/>
                Fuente de datos: <%= process.data_source %><br/>
                Archivo: <%= process.original_filename %><br/>
                Usuario: <%= process.user_complete_name %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>

    </table>
  </div>
</div>
