<p id="notice"><%= notice %></p>

<div class="card shadow">
  <div class="card-body">
    <h2>Importación</h2>
  </div>
</div>

<div class="card shadow">
  <div class="card-body">

    <p>
      <strong>Estado:</strong>
      <%= @import_process.status %>
    </p>

    <p>
      <strong>Procesados:</strong>
      <%= @import_process.processed %>
    </p>

    <p>
      <strong>Insertados:</strong>
      <%= @import_process.inserted %>
    </p>

    <p>
      <strong>Actualizados:</strong>
      <%= @import_process.updated %>
    </p>

    <p>
      <strong>Fallidos:</strong>
      <%= @import_process.failed %>
    </p>

    <p>
      <strong>Fuente de Datos:</strong>
      <%= @import_process.data_source %>
    </p>

    <p>
      <strong>Archivo:</strong>
      <%= @import_process.original_filename %>
    </p>

    <p>
      <strong>Usuario:</strong>
      <%= @import_process.user.complete_name %>
    </p>

    <ul class="unstyled">
      <% @import_process.import_errors.each do |error| %>
        <li>
          <% if error.row_index.present? %>
            <p class="label">Indice <%= error.row_index %></p>
          <% end %>
          <pre><%= error.message %></pre>
        </li>
      <% end %>
    </ul>

  </div>
</div>
