<p id="notice"><%= notice %></p>

<div class="card shadow">
  <div class="card-body">
    <div class="form-row">
      <div class="col-md-6">
        <h2>Roles</h2>
      </div>
      <div class="col-md-6 text-right">
        <%= link_to 'Nuevo Rol', new_admin_role_path, :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>

<div class="card shadow">
  <div class="card-body">
    <table class="table table-striped table-hover table-bordered">
      
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Solo Lectura</th>
          <th colspan="2" class="text-center">Acciones</th>
        </tr>
      </thead>

      <tbody>
        <% @roles.each do |role| %>
          <tr>
            <td><%= role.name %></td>
            <td><%= role.read_only %></td>
            <td class="text-center"><%= link_to edit_admin_role_path(role) do %>  <i class="fas fa-edit" title="Editar"></i> <% end %></td>
            <td class="text-center"><%= link_to admin_role_path(role), method: :delete, data: { confirm: 'Are you sure?' } do %> <i class="fas fa-trash-alt " title="Eliminar"></i> <%end%></td>
          </tr>
        <% end %>
      </tbody>

    </table>
  </div>
</div>
