<h2>Future Proejcts</h2>
<%= a.input :layer_type, label: "Expediente Municipales", input_html: {value: "EM"}, as: :hidden %>
<%= a.input :address %>
<%= a.input :future_project_types %>
<%= a.input :future_project_types %>
<%= a.input :owner %>
<%= a.input :arquitect %>
<%= a.input :total_units %>
<%= a.input :total_parking %>
<%= a.input :total_office %>
<%= a.text_area :comments %>

