<div id="alerts"></div>
<div id="map"></div>

<div id="downloads"
  data-allowed-area-projects='<%= current_user.role.square_meters_download_projects %>'
  data-allowed-radius-projects='<%= current_user.role.meters_download_radius_projects %>'
  data-allowed-area-future-projects='<%= current_user.role.square_meters_download_future_projects %>'
  data-allowed-radius-future-projects='<%= current_user.role.meters_download_radius_future_projects %>'
  data-allowed-area-transactions='<%= current_user.role.square_meters_download_transactions %>'
  data-allowed-radius-transactions='<%= current_user.role.meters_download_radius_transactions %>'>
</div>
<div class="report" style="width: 720px;">
  <div id="chart-report-1">
    <canvas id="report-canvas-1"></canvas>
  </div>
  <div id="chart-report-2">
    <canvas id="report-canvas-2"></canvas>
  </div>
  <div id="chart-report-3">
    <canvas id="report-canvas-3"></canvas>
  </div>
  <div id="chart-report-4">
    <canvas id="report-canvas-4"></canvas>
  </div>
  <div id="chart-report-5">
    <canvas id="report-canvas-5"></canvas>
  </div>
  <div id="chart-report-6">
    <canvas id="report-canvas-6"></canvas>
  </div>
  <div id="chart-report-7">
    <canvas id="report-canvas-7"></canvas>
  </div>
  <div id="chart-report-8">
    <canvas id="report-canvas-8"></canvas>
  </div>
  <div id="chart-report-9">
    <canvas id="report-canvas-9"></canvas>
  </div>
  <div id="chart-report-10">
    <canvas id="report-canvas-10"></canvas>
  </div>
</div>

<div id="leaflet_modal_future_projects" class="modal fade" tabindex="-1" role="dialog">
  <%= render partial: "future_projects/popup"  %>
</div>
<div id="leaflet_modal_projects" class="modal fade" tabindex="-1" role="dialog">
  <%= render partial: "projects/popup"  %>
</div>
<div id="leaflet_modal_transactions" class="modal fade" tabindex="-1" role="dialog">
  <%= render partial: "transactions/popup"  %>
</div>
<div id="leaflet_modal_building_regulations" class="modal fade" tabindex="-1" role="dialog">
  <%= render partial: "building_regulations/popup"  %>
</div>
