<%= form_tag admin_transactions_path, :method => 'get' do |f| %>

  <div class="form-row">
    <div class="form-group col-md-3">
      <%= text_field_tag :number, '', class: 'form-control', placeholder: 'N° Transacción' %>
    </div>
    <div class="form-group col-md-2">
      <%= text_field_tag :role, '', class: 'form-control', placeholder: 'Rol' %>
    </div>
    <div class="form-group col-md-3">
      <%= select_tag :property_type_id, options_for_select(property_type_for_select), :include_blank => "Tipo de Propiedad", :class => 'form-control' %>
    </div>
    <div class="form-group col-md-3">
      <%= text_field_tag :inscription_date, '', class: 'form-control', placeholder: 'Fecha de Inscripción' %>
    </div>
    <div class="form-group col-md-1">
      <%= submit_tag t('menu.transaction.search'), :class => "btn btn-primary" %>
    </div>
  </div>

<% end %>
