<script charset="utf-8">
  <%if !@transaction.the_geom.nil?  %>
     Congo.admin_transactions.config.latitude.push(<%= @transaction.the_geom.y %>);
     Congo.admin_transactions.config.longitude.push(<%= @transaction.the_geom.x %>);
  <% end %>
</script>
<div class="card shadow">
  <div class="card-body">

    <%= simple_form_for([:admin, @transaction]) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <% if @transaction.errors.any? %>
        <div class="alert-message block-message error">
          <ul class="panel-body"><% @transaction.errors.full_messages.each do |msg| %><li><%= msg %></li><% end %></ul>
        </div>
      <% end %>

      <div class="form-row">
        <div class="form-group col-md-2">
          <%= f.label :inscription_date %>
            <%= f.date_field :inscription_date, {start_year: 2008, end_year: Date.today.year, use_month_numbers: true , class: 'form-control mx-1'} %>
        </div>
            <%= f.input :bimester, input_html: {class: 'form-control'}, wrapper_html: {class: 'col-md-2'} %>
            <%= f.input :year, input_html: {class: 'form-control'}, wrapper_html: {class: 'col-md-2'} %>
          <%= f.input :tome, input_html: {class: 'form-control'}, wrapper_html: {class: 'col-md-2'}%>
          <%= f.input :sheet, input_html: {class: 'form-control'}, wrapper_html: {class: 'col-md-2'}%>
          <%= f.input :number, input_html: {class: 'form-control'}, wrapper_html: {class: 'col-md-2'} %>
      </div>
      <div class="form-row">
        <div class="form-group col-md-3">
          <%= f.label :buyer_name %>
          <%= f.text_field :buyer_name, :class => 'form-control' %>
        </div>
        <div class="form-group col-md-3">
          <%= f.label :buyer_rut %>
          <%= f.text_field :buyer_rut, placeholder: "XXXXXXXX-X", :class => 'form-control' %>
        </div>
        <div class="form-group col-md-3">
          <%= f.label :seller_name %>
          <%= f.text_field :seller_name, :class => 'form-control' %>
        </div>
        <div class="form-group col-md-3">
          <%= f.label :seller_type %>
          <%= f.select :seller_type_id, seller_types_for_select, { :prompt => t(:select_item_from_list) }, :class => 'form-control' %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <div class="form-group form-check">
            <%= f.check_box :active, :class => 'form-check-input' %>
            <%= f.label :active, :class => 'form-check-label' %>
          </div>
          <div class="form-group">
            <%= f.label :address %>
            <%= f.text_field :address, :class => 'form-control' %>
            <div id="geocodingResult"></div>
            <span class="help-inline"><%= t 'form.hint.transaction.address' %></span>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <%= f.label :county %>
              <%= f.select :county_id, counties_for_select, { :prompt => t(:select_item_from_list) }, :class => 'form-control' %>
            </div>
            <div class="form-group col-md-6">
              <%= f.label :code_sii %>
              <%= f.text_field :code_sii, :class => 'form-control' %>
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <div  id="admin_map" class="admin_map_transactions border rounded"></div>
          <%= f.text_field :longitude %>
          <%= f.text_field :latitude %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-2">
          <%= f.label :lot %>
          <%= f.text_field :lot, :class => 'form-control' %>
        </div>
        <div class="form-group col-md-2">
          <%= f.label :block %>
          <%= f.text_field :block, :class => 'form-control' %>
        </div>
        <div class="form-group col-md-2">
          <%= f.label :village %>
          <%= f.text_field :village, :class => 'form-control' %>
        </div>
        <div class="form-group col-md-2">
          <%= f.label :department %>
          <%= f.text_field :department, :class => 'form-control' %>
        </div>
        <div class="form-group col-md-2">
          <%= f.label :parkingi %>
          <%= f.text_field :parkingi, :class => 'form-control' %>
        </div>
        <div class="form-group col-md-2">
          <%= f.label :cellar %>
          <%= f.text_field :cellar, :class => 'form-control' %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-2">
          <%= f.label :property_type %>
          <%= f.select :property_type_id, property_type_for_select, { :prompt => t(:select_item_from_list) }, :class => 'form-control' %>
        </div>
        <div class="form-group col-md-2">
          <%= f.label :surface %>
          <%= f.text_field :surface, :class => 'form-control' %>
        </div>
        <div class="form-group col-md-2">
          <%= f.label :blueprint %>
          <%= f.text_field :blueprint, :class => 'form-control' %>
        </div>
        <div class="form-group col-md-2">
          <%= f.label :real_value %>
          <div class="form-row">
            <div class="col-md-9">
              <%= f.text_field :real_value, :class => 'form-control' %>
            </div>
            <div class="col-md-3">
              <input type="button" id="calculate_uf" value="UF" class="btn btn-primary">
            </div>
          </div>
        </div>
        <div class="form-group col-md-2">
          <%= f.label :uf_value %>
          <%= f.text_field :calculated_value, :class => 'form-control' %>
        </div>
        <div class="form-group col-md-2">
          <%= f.label :uf_m2 %>
          <%= f.text_field :uf_m2, :readonly => true, :class => 'form-control' %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-2">
          <%= f.label :role %>
          <%= f.text_field :role, placeholder: "XXXXX-XXXXX", :class => 'form-control' %>
        </div>
        <div class="form-group col-md-2">
          <%= f.label :requiring_entity %>
          <%= f.text_field :requiring_entity, :class => 'form-control' %>
        </div>
        <div class="form-group col-md-2">
          <%= f.label :surveyor %>
          <%= f.select :surveyor_id, surveyors_for_select, { :prompt => t(:select_item_from_list) }, :class => 'form-control' %>
        </div>
        <%= f.input :comments, as: :text, input_html: {class: 'form-control'}, wrapper_html: {class: 'col-md-4'} %>
      </div>
      <%= f.hidden_field :latitude, class: 'latitude'  %>
      <%= f.hidden_field :longitude, class: 'longitude'  %>
      <div class="text-center">
        <%= link_to 'Cancelar', admin_transactions_path, :class => 'btn btn-secondary' %>
        <%= f.button :submit, class: 'btn btn-primary', value: "Guardar" %>
        <%= link_to 'Eliminar', admin_transaction_path(f.object.id), method: :delete, data: { confirm: 'Esta seguro que desea eliminar' }, :class => 'btn btn-danger' %>
      </div>
    <% end %>
  </div>
</div>
