<%= form_with  url: admin_transactions_generate_csv_sii_path, method: :get, local:true do |f| %>
   <div class="alert-message block-message info">
    <p><strong><%= t(:EXPORT_CSV_BETWEEN_DATES) %></strong></p>
  </div>
  <div class="clearfix">
    <label for="xlInput"><strong><%= t(:INSCRIPTION_DATE_FROM) %></strong></label>
    <div class="input">
      <%= f.date_field :date_from, class:'datepicker' %>
    </div>
    <br/>
    <label for="xlInput"><strong><%= t(:INSCRIPTION_DATE_TO) %></strong></label>
    <div class="input">
      <%= f.date_field :date_to, class: 'datepicker' %>
    </div>
  </div>

    <span class="label success"><%= t('activerecord.attributes.kpi.polygon')%></span>
    <%= select "", 'kpi_type', options_for_select({ "POLIGONO"=> "1", "COMUNA" => "2"} ), {:include_blank => true} %>
  </div>
  <div class="span4" id="polygons">
    <span class="label success"><%= t('activerecord.attributes.kpi.polygon')%></span>
    <%= select "", :polygon_id, options_for_select(ApplicationStatus.where(user_id: current_user.id).collect{ |c| [c.name, c.id]} ), {:include_blank => true} %>
  </div>
  <div class="span4" id="counties">
    <span class="label success"><%= t('activerecord.attributes.kpi.county')%></span>
    <%= f.select 'county_id', options_for_select(@counties.collect{ |c| [c.name, c.id]}), {:include_hidden => false},{multiple: true}%>
  </div>
  <div class="span4">
    <span class="label success"><%= t('activerecord.attributes.kpi.property_type')%></span>
    <%= f.select 'property_type_id', options_for_select(PropertyType.all.collect{ |p| [p.name, p.id]} ), {:include_blank => true}  %>
  </div>
  <%= submit_tag "Exportar", :class => 'btn primary' %>
  <% unless @transactions.errors.count.zero? %>
    <div>
      <p>Errores</p>
      <table>
        <tr>
          <td>fila</td>
          <td>errores</td>
        </tr>
        <% @errors.each_index do |i| %>
        <tr>
          <td><%= @erroneous_rows[i].to_s %></td>
          <td><%= @errors[i].full_messages.to_s %></td>
        </tr>
        <% end %>
      </table>
    </div>
  <% end %>
  
<% end %>

