<%= simple_form_for :search, url: admin_transactions_generate_csv_sii_path,
  method: :get  do |f| %>
  <div class="col-md-12 card">
    <p><strong><%= t(:EXPORT_CSV_BETWEEN_DATES) %></strong></p>
  </div>
  <div class="card">
    <%= f.input :date_from,
      label: t(:INSCRIPTION_DATE_FROM),
      input_html:{ class: 'form-control datepicker'},
      wrapper_html:{ class: "form-group col-md-4"} %>
    <%= f.input :date_to,
      label: t(:INSCRIPTION_DATE_TO),
      input_html:{ class: 'form-control datepicker'},
      wrapper_html:{ class: "form-group col-md-4"} %>
    <%= f.input :kpi_type,
      collection: [['Poligonos', 1], ['Comunas', 2]],
      prompt: "Seleccione",
      input_html:{ class: 'form-control'},
      wrapper_html:{ class: "form-group col-md-4"} %>
    <%= f.input :polygon_id, label: false,
      collection: application_statuses_for_select,
      prompt:"Seleccione poligono",
      input_html:{ class: "form-control"},
      wrapper_html:{ class: "form-group col-md-4 ml-4"} %>
    <%= f.input :county_id, label: false,
      collection: counties_for_select,
      prompt: "Seleccione comuna",
      input_html:{ class: "'form-control col-md-4", multiple: true, size: 10},
      wrapper_html:{ class: "form-group col-md-4 ml-4"} %>
    <%= f.input 'property_type_id',
      label: t('activerecord.attributes.kpi.property_type'),
      collection: property_type_for_select,
      prompt: "Seleccione propiedad",
      input_html:{ class: 'form-control'},
      wrapper_html:{ class: "form-group col-md-4"} %>
    <div>
      <%= f.submit "Exportar", :class => 'btn primary' %>
    </div>
  </div>
<% end %>

