<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @rent_future_project.code %>
</p>

<p>
  <strong>Address:</strong>
  <%= @rent_future_project.address %>
</p>

<p>
  <strong>Name:</strong>
  <%= @rent_future_project.name %>
</p>

<p>
  <strong>Role number:</strong>
  <%= @rent_future_project.role_number %>
</p>

<p>
  <strong>File number:</strong>
  <%= @rent_future_project.file_number %>
</p>

<p>
  <strong>File date:</strong>
  <%= @rent_future_project.file_date %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @rent_future_project.owner %>
</p>

<p>
  <strong>Legal agent:</strong>
  <%= @rent_future_project.legal_agent %>
</p>

<p>
  <strong>Architech:</strong>
  <%= @rent_future_project.architech %>
</p>

<p>
  <strong>Floors:</strong>
  <%= @rent_future_project.floors %>
</p>

<p>
  <strong>Undergrounds:</strong>
  <%= @rent_future_project.undergrounds %>
</p>

<p>
  <strong>Total units:</strong>
  <%= @rent_future_project.total_units %>
</p>

<p>
  <strong>Total parking:</strong>
  <%= @rent_future_project.total_parking %>
</p>

<p>
  <strong>Total commercials:</strong>
  <%= @rent_future_project.total_commercials %>
</p>

<p>
  <strong>M2 approved:</strong>
  <%= @rent_future_project.m2_approved %>
</p>

<p>
  <strong>M2 built:</strong>
  <%= @rent_future_project.m2_built %>
</p>

<p>
  <strong>M2 field:</strong>
  <%= @rent_future_project.m2_field %>
</p>

<p>
  <strong>T ofi:</strong>
  <%= @rent_future_project.t_ofi %>
</p>

<p>
  <strong>Cadastral date:</strong>
  <%= @rent_future_project.cadastral_date %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @rent_future_project.comments %>
</p>

<p>
  <strong>Bimester:</strong>
  <%= @rent_future_project.bimester %>
</p>

<p>
  <strong>Year:</strong>
  <%= @rent_future_project.year %>
</p>

<p>
  <strong>Project type:</strong>
  <%= @rent_future_project.project_type_id %>
</p>

<p>
  <strong>Future project type:</strong>
  <%= @rent_future_project.future_project_type_id %>
</p>

<p>
  <strong>County:</strong>
  <%= @rent_future_project.county_id %>
</p>

<%= link_to 'Edit', edit_rent_future_project_path(@rent_future_project) %> |
<%= link_to 'Back', rent_future_projects_path %>
