<%= form_tag admin_users_path, method: :get do %>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label>Rol</label>
      <%= select("user", :role_id, roles_for_select, { include_blank: true }, { class: 'form-control' }) %>
    </div>
    <div class="form-group col-md-2">
      <label>Email</label>
      <%= text_field("user", :email, placeholder: "E-Mail", class: "lower-case form-control") %>
    </div>
    <div class="form-group col-md-2">
      <label>Nombre</label>
      <%= text_field("user", :complete_name, placeholder: "Nombre", class: "form-control") %>
    </div>
    <div class="form-group col-md-2">
      <label>Deshabilitado</label>
      <div class="form-check">
        <%= check_box("user", :disabled) %>
      </div>
    </div>
    <div class="form-group col-md-2">
      <label>Ordernar por:</label>
      <%= select_tag :sort_by, options_for_select(sort_columns, selected: params[:sort_by]), class: "form-control" %>
    </div>
    <div class="form-group col-md-1 p-4">
      <%= hidden_field_tag :role, params['role'] || '' %>
      <%= submit_tag t('menu.transaction.search'), :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
