<%= form_tag admin_users_path, method: :get do %>

<div class="form-row">
  <div class="form-group col-md-3">
    	<%= select("user", :role_id, roles_for_select, {:include_blank => 'Rol'}, {:class => 'form-control'}) %>
  </div>
  <div class="form-group col-md-3">
    <%= text_field("user", :email, placeholder: "E-Mail", :class => "lower-case form-control") %>
  </div>
  <div class="form-group col-md-3">
    <%= text_field("user", :complete_name, placeholder: "Nombre", :class => "form-control") %>
  </div>
  <div class="form-group col-md-2">
    <div class="form-check">
      <%= check_box("user", :disabled) %>
      <label class="form-check-label" for="gridCheck">Deshabilitado</label>
    </div>
  </div>
  <div class="form-group col-md-1">
  	<%= submit_tag t('menu.transaction.search'), :class => "btn btn-primary" %>
  </div>
</div>

<% end %>
