
<div class="card shadow">
  <div class="card-body">
    <%= form_tag admin_users_path, method: :get do %>

    <div class="form-row">
      <div class="form-group col-md-2">
        	<%= select("user", :role_id, roles_for_select, { :include_blank => 'Rol'}, { :class => 'form-control'}) %>
      </div>
      <div class="form-group col-md-2">
        <%= text_field("user", :email, placeholder: "E-Mail", :class => "lower-case form-control") %>
      </div>
      <div class="form-group col-md-2">
        <%= text_field("user", :complete_name, placeholder: "Nombre", :class => "form-control") %>
      </div>
      <div class="form-group col-md-1">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">Deshabilitado</label>
        </div>
      </div>
      <div class="form-group col-md-2">
      	<%= submit_tag t('menu.transaction.search'), :class => "btn btn-primary" %>
      </div>
    </div>

    <% end %>
  </div>
</div>
