<div class="row">
  <% if f.object.new_record? %>
    <div class="col-3">
      <%= f.input :amount, as: :string, label: false %>
      <%= f.hidden_field :status, :value => 'approved' %>
    </div>
  <% else %>
    <div class="col-1">
      <%= f.object.amount %>
    </div>
    <div class="col-1">
      <%= f.object.status %>
    </div>
    <div class="col-2">
      <%= l f.object.created_at, format: '%d %B de %Y' %>
    </div>
  <% end %>
</div>
