<div class="card shadow">
  <div class="card-body">

    <%= simple_form_for([:admin,@user]) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <% if @user.errors.any? %>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      <% end %>

      <%= f.input :name, input_html: { class: "form-control" }, wrapper_html: { class: "col-md-4 form-group row" } %>
      <%= f.input :complete_name, input_html: { class: "form-control" }, wrapper_html: { class: "col-md-4 form-group row" } %>
      <%= f.input :rut, input_html: { class: "form-control" }, wrapper_html: { class: "col-md-4 form-group row" } %>
      <%= f.input :email, input_html: { class: "form-control" }, wrapper_html: { class: "col-md-4 form-group row" } %>
      <%= f.collection_select(:company_id, Company.all, :id, :name, { include_blank: false },{prompt: "Seleccione empresa"}) %>
      <%= f.input :city, input_html: { class: "form-control" }, wrapper_html: { class: "col-md-4 form-group row" } %>
      <% if !@user.new_record? %>
        <%= f.input :current_password, input_html: { class: "form-control" }, wrapper_html: { class: "col-md-4 form-group row" } %>
      <% end %>
      <%= f.input :password, input_html: { class: "form-control" }, wrapper_html: { class: "col-md-4 form-group row" } %>
      <%= f.input :password_confirmation, input_html: { class: "form-control" }, wrapper_html: { class: "col-md-4 form-group row" } %>
      <%= f.input :is_temporal, wrapper_html: { class: "col-md-4 form-group row" } %>
      <%= f.input :disabled, wrapper_html: { class: "col-md-4 form-group row" } %>
      <%= f.collection_select(:role_id, roles, :id, :name, { include_blank: true }) %>
      <%= f.collection_select(:region_ids, Region.all.order(:name), :id, :name, {include_blank: true}, {multiple: true}) %>
      <%= f.collection_select(:county_ids, County.where(enabled: true).order(:name), :id, :name, { include_blank: false }, {multiple: true}) %>
      <%= f.collection_select(:layer_types, LayerType.all, :id, :title, { include_blank: false }, {multiple: true}) %>
    <div class="row">
      <h4>Flex Ordenes</h4>
    </div>
      <div class="row">
        <div class="col-3">Cantidad</div>
        <div class="col">Fecha creación</div>
      </div>
      <%= f.simple_fields_for :flex_orders do |fo| %>
        <%= render 'flex_order_fields', f: fo %>
      <% end %>
      <div id="up_table"></div>

      <%= link_to_add_fields "agregar ordenes", f, :flex_orders %>

      <%= link_to 'Cancelar', admin_users_path, :class => 'btn btn-secondary' %>
      <%= f.submit "Guardar", class: 'btn btn-primary'%>
    <% end %>
  </div>
</div>
