<p id="notice"><%= notice %></p>

<div class="card shadow">
  <div class="card-body pb-1">
    <div class="form-row">
      <div class="col-md-2">
        <h2>Usuarios</h2>
      </div>
      <div class="col-md-8 text-center">
        <%= render :partial => 'filters' %>
      </div>
      <div class="col-md-2 text-right">
        <%= link_to 'Nuevo', new_admin_user_path, :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>

<div class="card shadow">
  <div class="card-body">

    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th><%= User.human_attribute_name :name %></th>
          <th><%= User.human_attribute_name :complete_name %></th>
          <th><%= User.human_attribute_name 'E-mail' %></th>
          <th><%= User.human_attribute_name :company %></th>
          <th><%= User.human_attribute_name :disabled %></th>
          <th><%= User.human_attribute_name :role %></th>
          <th><%= User.human_attribute_name :transactions_downloads %></th>
          <th><%= User.human_attribute_name :projects_downloads %></th>
          <th><%= User.human_attribute_name :future_projects_downloads %></th>
          <th colspan="2" class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%=h(user.name) %></td>
            <td><%=h user.complete_name %></td>
            <td><%=h user.email %></td>
            <td><%=h user.company %></td>
            <td><%=h user.disabled  ? t(:YES) : t(:NO) %></td>
            <td><%=h user.role_id unless user.role_id.nil? %></td>
            <td><%=h user.transactions_downloads %></td>
            <td><%=h user.projects_downloads %></td>
            <td><%=h user.future_projects_downloads %></td>
            <td class="text-center"><%= link_to edit_admin_user_path(user) do %> <i class="fas fa-edit"></i> <%end%></td>
            <td class="text-center"><%= link_to admin_user_path(user), method: :delete, data: { confirm: '¿Está seguro?' } do %> <i class="fas fa-trash-alt " title="Eliminar"></i> <%end%></td>
        <% end %>
      </tbody>
    </table>

    <div class="pull-left">
      <%= will_paginate @users %>
    </div>

  </div>
</div>
