<p id="notice"><%= notice %></p>

<div class="card shadow">
  <div class="card-body pb-1">
    <div class="form-row">
      <div class="col-md-2">
        <h2>Usuarios</h2>
      </div>
      <div class="col-md-8 text-center">
        <%= render partial: 'filters' %>
      </div>
      <div class="col-md-2 text-right">
        <%= link_to 'Exportar', admin_users_export_data_path, class: 'btn btn-primary' %>
        <%= link_to 'Nuevo', new_admin_user_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>

<div class="card shadow">
  <div class="card-body">

    <% if params['role'] == 'Flex' %>
      <%= render 'flex_users' %>
    <% else %>
      <%= render 'users' %>
    <% end %>
    <div class="pull-left">
      <%= will_paginate @users %>
    </div>
  </div>
</div>
