<div class="modal fade  bd-example-modal-lg" id="modal-counties" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content text-light">

      <div class="modal-header">
        <h5 class="modal-title text-center">GASTO MENSUAL E INGRESO PROMEDIO</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <table class="table">
        <tr>
          <th>Items</th>
          <th>Abc1</th>
          <th>C2</th>
          <th>C3</th>
          <th>D</th>
          <th>E</th>
          <th class="table-dark">Total</th>
        </tr>  
        <% @b.each do |d| %>
            <tr>
              <td><%= d.expense_type.name %></td>
              <td><%=  number_with_delimiter(d.abc1.to_i, delimiter:'.') %></td>
              <td><%= number_with_delimiter(d.c2.to_i, delimiter:'.')%></td>
              <td><%= number_with_delimiter(d.c3.to_i, delimiter:'.') %></td>
              <td><%= number_with_delimiter(d.d.to_i, delimiter:'.') %></td>
              <td><%= number_with_delimiter(d.e.to_i, delimiter:'.') %></td>
              <td class="table-dark" ><%= number_with_delimiter(d.total_expenses.to_i, delimiter:'.') %></td>
            </tr>
          <% end %>
          <tr>
            <th class="table-dark">Total</th>
            <th class="table-dark"><%= number_with_delimiter(@sum_expenses[0]['abc1'].to_i, delimiter:'.') %></th>
            <th class="table-dark"><%= number_with_delimiter(@sum_expenses[0]['c2'].to_i, delimiter:'.') %></th>
            <th class="table-dark"><%= number_with_delimiter(@sum_expenses[0]['c3'].to_i, delimiter:'.') %></th>
            <th class="table-dark"><%= number_with_delimiter(@sum_expenses[0]['d'].to_i, delimiter:'.') %></th>
            <th class="table-dark"><%= number_with_delimiter(@sum_expenses[0]['e'].to_i, delimiter:'.') %></th>
            <th class="table-dark"><%= number_with_delimiter(@sum_expenses[0]['total_sum_expenses'].to_i, delimiter:'.') %></th>
          </tr>
          <tr>
            <th class="table-dark">Hogares</td>
            <th class="table-dark"><%= number_with_delimiter(@houses[0]['total_house_abc1'].to_i, delimiter:'.') %></th>
            <th class="table-dark"><%= number_with_delimiter(@houses[0]['total_house_c2'].to_i, delimiter:'.') %></th>
            <th class="table-dark"><%= number_with_delimiter(@houses[0]['total_house_c3'].to_i, delimiter:'.') %></th>
            <th class="table-dark"><%= number_with_delimiter(@houses[0]['total_house_d'].to_i, delimiter:'.') %></th>
            <th class="table-dark"><%= number_with_delimiter(@houses[0]['total_house_e'].to_i, delimiter:'.') %></th>
            <th class="table-dark"><%= number_with_delimiter(@houses[0]['total_houses'].to_i, delimiter:'.') %></th>
          </tr>
          <tr>
            <th class="table-dark">Ingresos</th>
            <th class="table-dark"><%= number_with_delimiter(@incomes[0][:abc1].to_i, delimiter:'.') %></th>
            <th class="table-dark"><%= number_with_delimiter(@incomes[0][:c2].to_i, delimiter:'.') %></th>
            <th class="table-dark"><%= number_with_delimiter(@incomes[0][:c3].to_i, delimiter:'.') %></th>
            <th class="table-dark"><%= number_with_delimiter(@incomes[0][:d].to_i, delimiter:'.') %></th>
            <th class="table-dark"><%= number_with_delimiter(@incomes[0][:e].to_i, delimiter:'.') %></th>
            <th class="table-dark"><%= number_with_delimiter(@incomes[0][:weighted_average].to_i, delimiter:'.') %></th>
          </tr>
      </table>
      <div class="ml-5">
          <p>MILES DE PESOS</p>
          <p>FUENTE: CENSO 2017 | ENCUESTA PRESUPUESTO FAMILIARES</p>
          <p>2017 | ESTIMACIÓN GSE OCUP PUC</p>
      </div>
    </div>
  </div>
</div>
