<div class="modal fade  bd-example-modal-lg" id="modal-counties" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content text-light">

      <div class="modal-header">
        <h5 class="modal-title"> GSE </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <table class="table">
        <tr>
          <th>Items</th>
          <th>Abc1</th>
          <th>C2</th>
          <th>C3</th>
          <th>D</th>
          <th>E</th>
          <th>Total</th>
        </tr>  
        <% @b.each do |d| %>
            <tr>
              <td><%= d.expense_type.name %></td>
              <td><%= d.abc1 %></td>
              <td><%= d.c2 %></td>
              <td><%= d.c3 %></td>
              <td><%= d.d %></td>
              <td><%= d.e %></td>
              <td><%= d.total_expenses %></td>
            </tr>
          <% end %>
          <tr>
            <td>Total</td>
            <td><%= @sum_expenses[0]['abc1'].to_f %></td>
            <td><%= @sum_expenses[0]['c2'].to_f %></td>
            <td><%= @sum_expenses[0]['c3'].to_f %></td>
            <td><%= @sum_expenses[0]['d'].to_f %></td>
            <td><%= @sum_expenses[0]['e'].to_f %></td>
          </tr>
          <tr>
            <td>Hogares</td>
            <td><%= @houses[0]['total_house_abc1'].to_f %></td>
            <td><%= @houses[0]['total_house_c2'].to_f %></td>
            <td><%= @houses[0]['total_house_c3'].to_f %></td>
            <td><%= @houses[0]['total_house_d'].to_f %></td>
            <td><%= @houses[0]['total_house_e'].to_f %></td>
            <td><%= @houses[0]['total_house'].to_f %></td>
          </tr>
          <tr>
            <td>Ingresos</td>
            <td><%= @incomes[0]['total_income_abc1'].to_f %></td>
            <td><%= @incomes[0]['total_income_c2'].to_f %></td>
            <td><%= @incomes[0]['total_income_c3'].to_f %></td>
            <td><%= @incomes[0]['total_income_d'].to_f %></td>
            <td><%= @incomes[0]['total_income_e'].to_f %></td>
          </tr>
      </table>
    </div>
  </div>
</div>
