<%= simple_form_for([:admin, @future_project]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div id="admin_map">
  
</div>


  <div class="form-inputs">
    <%= f.association :county %>
    <%= f.input :address %>
    <%= f.association :future_project_type %>
    <%= f.input :code %>
    <%= f.association :project_type %>
    <%= f.input :m2_approved %>
    <%= f.input :m2_built %>
    <%= f.input :m2_field %>
    <%= f.input :name %>
    <%= f.input :role_number %>
    <%= f.input :file_number %>
    <%= f.input :file_date %>
    <%= f.input :owner %>
    <%= f.input :legal_agent %>
    <%= f.input :architect %>
    <%= f.input :floors %>
    <%= f.input :undergrounds %>
    <%= f.input :total_units %>
    <%= f.input :total_parking %>
    <%= f.input :total_commercials %>
    <%= f.input :t_ofi %>
    <%= f.input :cadastral_date %>
    <%= f.input :cadastre %>
    <%= f.input :comments %>
    <%= f.input :active %>
    <%= f.input :bimester %>
    <%= f.input :year %>







  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
