<p id="notice"><%= notice %></p>

<!-- Future Projects -->
    <%= render partial: 'filters' %>
<div class="col-md-12 overflow-auto">
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th>Tipo de Fuente</th>
        <th>Código</th>
        <th>Dirección</th>
        <th>Comuna</th>
        <th>Propietario</th>
        <th>Tipo de proyecto</th>
        <th>Bimestre</th>
        <th>Año</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @future_projects.each do |future_project| %>
        <tr>
          <td><%= future_project.future_project_type.name %></td>
          <td><%= future_project.code %></td>
          <td><%= future_project.address %></td>
          <td><%= future_project.county.name %></td>
          <td><%= future_project.name %></td>
          <td><%= future_project.project_type.name %></td>
          <td><%= future_project.bimester %></td>
          <td><%= future_project.year %></td>



          <td><%= link_to edit_admin_future_project_path(future_project) do %> <i class="fas fa-edit text-secondary"></i> <%end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<br>

<%= link_to 'New Future Project', new_admin_future_project_path %>
