<%= simple_form_for([:admin, @county]) do |form| %>
  <% if county.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(county.errors.count, "error") %> prohibited this county from being saved:</h2>

      <ul>
      <% county.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="field">
    <%= form.label :code_sii %>
    <%= form.number_field :code_sii %>
  </div>

  <div class="field">
    <%= form.label :number_last_project_future %>
    <%= form.number_field :number_last_project_future %>
  </div>

  <div class="field">
    <%= form.label :enabled %>
    <%= form.check_box :enabled %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
