<div class="card shadow">
  <div class="card-body">

    <%= simple_form_for([:admin, @county]) do |form| %>
      <% if county.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(county.errors.count, "error") %> prohibited this county from being saved:</h2>
          <ul><% county.errors.full_messages.each do |message| %><li><%= message %></li><% end %></ul>
        </div>
      <% end %>

      <div class="form-group row">
        <%= form.label :code, 'Código', class: 'col-md-2 text-right col-form-label' %>
        <div class="col-md-3">
        <%= form.text_field :code, class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= form.label :name, 'Nombre', class: 'col-md-2 text-right col-form-label' %>
        <div class="col-md-3">
          <%= form.text_field :name, class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= form.label :code_sii, 'Código Servicio Imp. Interno', class: 'col-md-2 text-right col-form-label' %>
        <div class="col-md-3">
        <%= form.number_field :code_sii, class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= form.label :enabled, 'Habilitada?', class: 'col-md-2 text-right form-check-label' %>
        <div class="col-md-3">
        <%= form.check_box :enabled %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-5 text-right">
          <%= link_to 'Cancelar', admin_counties_path, :class => 'btn btn-secondary' %>
          <%= form.submit class: 'btn btn-primary', value: "Guardar" %>
        </div>
      </div>

    <% end %>

  </div>
</div>
