<p id="notice"><%= notice %></p>

<h1>Expenses</h1>

<table>
  <thead>
    <tr>
      <th>Expense type</th>
      <th>Abc1</th>
      <th>C2</th>
      <th>C3</th>
      <th>D</th>
      <th>E</th>
      <th>Santiago only</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.expense_type %></td>
        <td><%= expense.abc1 %></td>
        <td><%= expense.c2 %></td>
        <td><%= expense.c3 %></td>
        <td><%= expense.d %></td>
        <td><%= expense.e %></td>
        <td><%= expense.santiago_only %></td>
        <td><%= link_to 'Show', expense %></td>
        <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
        <td><%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expense', new_expense_path %>
