<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <!-- Logo -->
  <a class="navbar-brand" href="#">
    <%=image_tag "logo.png", width:"", height:"32", alt:"" %>
  </a>

  <!-- Barra (Todo menos Logo)-->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <!-- Barra (Todo menos Iconos)-->
    <ul class="navbar-nav mr-auto">

      <!-- Texto -->
      <li class="nav-item">
        <nav class="navbar navbar-light bg-light">
          <span class="navbar-text" id="layer-name"></span>
        </nav>
      </li>

    </ul>

    <!-- Selección Dropdown -->
    <div class="nav-item dropdown">
      <button class="btn btn-primary my-2 my-sm-0 nav-link dropdown-toggle nocaret" href="#" id="dropdown-navbar-1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-map-pin" title="Herramienta de Dibujo"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-navbar1" aria-labelledby="navbarDropdown">
        <%= link_to "#", id: "select_point", class: "dropdown-item dropdown-item-navbar1", remote: true do %> <i class="fas fa-map-pin" title="Puntu" style="font-size: 26px"></i> <%end %>
        <%= link_to counties_path(), remote: true, 'class' => 'dropdown-item dropdown-item-navbar1', 'data-toggle' => "modal", 'data-target' => '#modal-counties' do %> <i class="fas fa-clipboard-list chart-modal" title="Listado" style="font-size: 26px"></i> <% end %>
        <%= link_to "#", id: "select_polygon", class: "dropdown-item dropdown-item-navbar1", remote: true do %> <i class="fas fa-draw-polygon" title="Trazado" style="font-size: 26px"></i> <%end %>
        <%= link_to "#", id: "select_circle", class: "dropdown-item dropdown-item-navbar1", remote: true do %> <i class="fas fa-circle-notch" title="Radio" style="font-size: 26px"></i> <%end %>
      </div>
    </div>

    <!-- Capas Dropdown -->
    <div class="nav-item dropdown">
      <button class="btn btn-primary my-2 my-sm-0 nav-link dropdown-toggle nocaret" href="#" id="dropdown-navbar-1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-layer-group" title="Capas"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-navbar1" aria-labelledby="navbarDropdown">
        <a class="dropdown-item dropdown-item-navbar1" href="#"><i class="fas fa-male" title="Demografía y Gasto" style="font-size: 26px"></i></a>
        <%= link_to building_regulations_dashboards_path(), class: "dropdown-item dropdown-item-navbar1", remote: true  do  %><i class="fas fa-file-alt" title="Normativa" style="font-size: 26px"></i><% end %>
        <%= link_to transactions_dashboards_path(), class: "dropdown-item dropdown-item-navbar1", remote: true  do  %><i class="fas fa-handshake" title="Compraventas CBR" style="font-size: 26px"></i><% end %>
        <%= link_to projects_dashboards_path(), class: "dropdown-item dropdown-item-navbar1", remote: true  do  %> <i class="fas fa-home" title="Proyectos Residenciales" style="font-size: 26px"></i><% end %>
        <%= link_to future_projects_dashboards_path(), class: "dropdown-item dropdown-item-navbar1", remote: true  do  %> <i class="fas fa-landmark" title="Expedientes Municipales" style="font-size: 26px"></i><% end %>
      </div>
    </div>

    <!-- Mapas Dropdown -->
    <div class="nav-item dropdown">

      <button class="btn btn-primary my-2 my-sm-0 nav-link dropdown-toggle nocaret" href="#" id="dropdown-navbar-1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-spinner" title="Puntos"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-navbar1" aria-labelledby="navbarDropdown">
        <%= link_to dashboards_graduated_points_path(), class: "dropdown-item dropdown-item-navbar1", remote: true  do  %><i class="fas fa-braille" title="Puntos Proporcionales" style="font-size: 26px"></i><% end %>
        <%= link_to dashboards_heatmap_path(), class: "dropdown-item dropdown-item-navbar1", remote: true  do  %><i class="fas fa-fire" title="Heatmap" style="font-size: 26px"></i><% end %>
        <a class="dropdown-item dropdown-item-navbar1" href="#"><i class="fas fa-dot-circle" title="Isolíneas" style="font-size: 26px"></i></a>
      </div>
    </div>

    <!-- Útiles Dropdown -->
    <div class="nav-item dropdown">
      <button class="btn btn-primary my-2 my-sm-0 nav-link dropdown-toggle nocaret" href="#" id="dropdown-navbar-1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-chart-pie" title="Útiles"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-navbar1" aria-labelledby="navbarDropdown">
        <%= link_to reports_index_path(), class: "dropdown-item dropdown-item-navbar1 reports", remote: true, id:"pdf"  do  %> <i class="fas fa-file-pdf" title="Informes PDF" style="font-size: 26px"></i><% end %> 
        <a class="dropdown-item dropdown-item-navbar1" href="#"><i class="fas fa-database" title="Bases Históricas (Boost)" style="font-size: 26px"></i></a>
        <%= link_to reports_index_path(), class: "dropdown-item dropdown-item-navbar1 reports", remote: true, id:"base"  do  %> <i class="fas fa-file-excel" title="Bases XLS" style="font-size: 26px"></i><% end %> 
        <%= link_to reports_index_path(), class: "dropdown-item dropdown-item-navbar1 reports", remote: true,  id:"graph"  do  %> <i class="fas fa-chart-bar" title="Gráficos en XLS" style="font-size: 26px"></i><% end %>
        <a class="dropdown-item dropdown-item-navbar1" href="#"><i class="fas fa-globe" title="Descargar KML" style="font-size: 26px"></i></a>
      </div>
    </div>

    <!-- Cuenta Dropdown -->
    <div class="nav-item dropdown">
      <button class="btn btn-primary my-2 my-sm-0 nav-link dropdown-toggle nocaret" href="#" id="dropdown-navbar-1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user" title="Cuenta Usuario"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-navbar1" aria-labelledby="navbarDropdown">
        <a class="dropdown-item dropdown-item-navbar1" href="#"><i class="fas fa-user" title="Mi Cuenta" style="font-size: 26px"></i></a>
        <a class="dropdown-item dropdown-item-navbar1" href="#"><i class="fas fa-question" title="Preguntas Frecuentes (FAQ)" style="font-size: 26px"></i></a>
        <%= link_to application_statuses_path(), class: "dropdown-item dropdown-item-navbar1 reports", remote: true,  id:"graph"  do  %> <i class="fas fa-save" title="Guardar y Compartir" style="font-size: 26px"></i><% end %>
        <%= link_to destroy_user_session_path, method: :delete, 'class' => 'dropdown-item dropdown-item-navbar1' do  %> <i class="fas fa-sign-out-alt" title="Salir" style="font-size: 26px"></i> <% end %>
      </div>
    </div>

  </div>

</nav>

<%= yield %>
