<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

  <!-- Logo -->
  <%= link_to dashboards_index_path(), class: "navbar-brand site_title" do  %> <%=image_tag "logo.png", width:"", height:"32", alt:"" %> <% end %>

  <!-- Barra (Todo menos Logo)-->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <!-- Barra (Todo menos Iconos)-->
    <ul class="navbar-nav mr-auto">

      <!-- Texto -->
      <li class="nav-item ">
        <b><span class="navbar-text text-light pl-4" id="layer-name"></span></b>
      </li>

    </ul>

    <!-- Selección Dropdown -->
    <div class="nav-item dropdown">
      <button class="btn btn-primary nav-link dropdown-toggle nocaret dropdown-width" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-map-pin" title="Selección"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-navbar1" aria-labelledby="navbarDropdown">
        <%= link_to counties_index_path(), remote: true, 'class' => 'dropdown-item custom-item', 'data-toggle' => "modal", 'data-target' => '#modal-counties' do %> <i class=" fas fa-clipboard-list chart-modal" title="Comunas" style="font-size: 26px"></i> <% end %>
      </div>
    </div>

    <!-- Capas Dropdown -->
    <div class="nav-item dropdown">
      <button class="btn btn-primary my-2 my-sm-0 nav-link dropdown-toggle nocaret dropdown-width" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-layer-group" title="Capas"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-navbar1" aria-labelledby="navbarDropdown">
        <%= link_to census_dashboards_path(), class: "dropdown-item custom-item", remote: true  do  %><i class=" fas fa-male" title="Demografía y Gastos" style="font-size: 26px"></i><% end %>
        <%= link_to building_regulations_dashboards_path(), class: "dropdown-item custom-item", remote: true  do  %><i class=" fas fa-file-alt" title="Normativa" style="font-size: 26px"></i><% end %>
        <%= link_to transactions_dashboards_path(), class: "dropdown-item custom-item", remote: true  do  %><i class=" fas fa-handshake" title="Compraventas CBR" style="font-size: 26px"></i><% end %>
        <%= link_to projects_dashboards_path(), class: "dropdown-item custom-item", remote: true  do  %> <i class=" fas fa-home" title="Proyectos Residenciales" style="font-size: 26px"></i><% end %>
        <%= link_to future_projects_dashboards_path(), class: "dropdown-item custom-item", remote: true  do  %> <i class=" fas fa-landmark" title="Expedientes Municipales" style="font-size: 26px"></i><% end %>
      </div>
    </div>

    <!-- Mapas Dropdown -->
    <div class="nav-item dropdown">

      <button class="btn btn-primary my-2 my-sm-0 nav-link dropdown-toggle nocaret dropdown-width" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-map-marked-alt" title="Mapas"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-navbar1" aria-labelledby="navbarDropdown">
        <a class="dropdown-item custom-item" href="#"><i class=" fas fa-circle" title="Puntos" style="font-size: 13px"></i></a>
        <%= link_to dashboards_graduated_points_path(), class: "dropdown-item custom-item", remote: true  do  %><i class=" fas fa-braille" title="Puntos Proporcionales" style="font-size: 22px"></i><% end %>
        <%= link_to dashboards_heatmap_path(), class: "dropdown-item custom-item", remote: true  do  %><i class=" fas fa-fire" title="Mapa de Calor" style="font-size: 26px"></i><% end %>
      </div>
    </div>

    <!-- Útiles Dropdown -->
    <div class="nav-item dropdown">
      <button class="btn btn-primary my-2 my-sm-0 nav-link dropdown-toggle nocaret dropdown-width" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-plus" title="Útiles"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-navbar1" aria-labelledby="navbarDropdown">
        <%= link_to "#", class: "dropdown-item custom-item reports", data: {remote: true}, id:"pdf" do  %> <i class=" fas fa-file-pdf" title="Bases XLS" style="font-size: 26px"></i><% end %>
        <%= link_to "#", id: "boost", class: "dropdown-item custom-item", remote: true do %> <i class=" fas fa-database" title="Bases Históricas (Boost)" style="font-size: 26px"></i> <%end %>
        <%= link_to "#", class: "dropdown-item custom-item reports", remote: true, id:"base"  do  %> <i class=" fas fa-file-excel" title="Bases XLS" style="font-size: 26px"></i><% end %>
        <%= link_to "#", class: "dropdown-item custom-item reports", remote: true,  id:"graph"  do  %> <i class=" fas fa-chart-bar" title="Gráficos XLS" style="font-size: 26px"></i><% end %>
        <%= link_to downloads_index_path(), class: "dropdown-item custom-item", remote: true,  id:"csv"  do  %> <i class=" fas fa-file-csv" title="Descarga CSV" style="font-size: 26px"></i><% end %>
      </div>
    </div>

    <!-- Cuenta Dropdown -->
    <div class="nav-item dropdown">
      <button class="btn btn-primary my-2 my-sm-0 nav-link dropdown-toggle nocaret dropdown-width" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user" title="Usuario"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-navbar1" aria-labelledby="navbarDropdown">
        <%= link_to users_account_path(), class: "dropdown-item custom-item reports", remote: true,  id:"user_data"  do  %> <i class=" fas fa-user" title="Mi Cuenta" style="font-size: 26px"></i><% end %>
        <%= link_to application_statuses_path(), class: "dropdown-item custom-item reports", remote: true,  id:"sessions"  do  %> <i class=" fas fa-save" title="Guardar y Compartir" style="font-size: 26px"></i><% end %>
        <%= link_to destroy_user_session_path, method: :delete, 'class' => 'dropdown-item custom-item' do  %> <i class=" fas fa-sign-out-alt" title="Salir" style="font-size: 26px"></i> <% end %>
      </div>
    </div>

  </div>

</nav>

<%= yield %>
