<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

  <!-- Logo -->
  <%= link_to dashboards_index_path(), class: "navbar-brand site_title" do  %> <%=image_tag "logo.png", width:"", height:"32", alt:"" %> <% end %>

  <!-- Barra (Todo menos Logo)-->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <!-- Barra (Todo menos Iconos)-->
    <ul class="navbar-nav mr-auto">

      <!-- Texto -->
      <li class="nav-item ">
        <b><span class="navbar-text text-light pl-4" id="layer-name"></span></b>
      </li>

    </ul>

    <!-- Selección Dropdown -->
    <div class="nav-item dropdown">
      <button class="btn btn-primary nav-link dropdown-toggle nocaret dropdown-width" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-map-pin" title="Selección"></i>
      </button>
      <div class="dropdown-menu custom-menu" aria-labelledby="navbarDropdown">
        <%= link_to counties_index_path(), remote: true, 'class' => 'dropdown-item custom-item', 'data-toggle' => "modal", 'data-target' => '#modal-counties' do %> <i class=" fas fa-clipboard-list chart-modal" title="Comunas" style="font-size: 26px"></i> <% end %>
      </div>
    </div>

    <!-- Capas Dropdown -->
    <div class="nav-item dropdown">
      <button class="btn btn-primary my-2 my-sm-0 nav-link dropdown-toggle nocaret dropdown-width" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-layer-group" title="Capas"></i>
      </button>

      <div class="dropdown-menu custom-menu" aria-labelledby="navbarDropdown">
        <%if current_user.layer_types.include? 5  %>
          <%= link_to demography_dashboards_path(), class: "dropdown-item custom-item", remote: true  do  %><i class=" fas fa-male" title="Demografía y Gastos" style="font-size: 26px"></i><% end %>
        <% end %>
        <%if current_user.layer_types.include? 4  %>
        <%= link_to building_regulations_dashboards_path(), class: "dropdown-item custom-item", remote: true  do  %><i class=" fas fa-file-alt" title="Normativa" style="font-size: 26px"></i><% end %>
        <% end %>
        <%if current_user.layer_types.include? 3  %>
        <%= link_to transactions_dashboards_path(), class: "dropdown-item custom-item", remote: true  do  %><i class=" fas fa-handshake" title="Compraventas" style="font-size: 26px"></i><% end %>
        <% end %>
        <%if current_user.layer_types.include? 2  %>
        <%= link_to projects_dashboards_path(), class: "dropdown-item custom-item", remote: true  do  %> <i class=" fas fa-home" title="Proyectos Residenciales en Venta" style="font-size: 26px"></i><% end %>
        <% end %>
        <%if current_user.layer_types.include? 1  %>
        <%= link_to future_projects_dashboards_path(), class: "dropdown-item custom-item", remote: true  do  %> <i class=" fas fa-landmark" title="Expedientes Municipales" style="font-size: 26px"></i><% end %>
        <% end %>
      </div>
    </div>

    <!-- Mapas Dropdown -->
    <div class="nav-item dropdown">
      <button class="btn btn-primary my-2 my-sm-0 nav-link dropdown-toggle nocaret dropdown-width" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-map-marked-alt" title="Mapas"></i>
      </button>
      <div class="dropdown-menu custom-menu multi-level" aria-labelledby="navbarDropdown">

        <!-- Puntos/Polígonos/Voronoi -->
        <div href="#" id="poly_build" class="dropdown-submenu" style="display: none">
          <a class="dropdown-item custom-item item-submenu" href="#">
            <i class="fas fa-dice-d20" title="Polígonos" style="font-size: 22px"></i>
          </a>
          <div class="dropdown-menu">
            <div class="dropdown-item">
              <%= link_to 'Densidad Máxima', building_regulations_dashboards_path(), remote: true, id: 'building_regulations_max_density' %>
            </div>
            <div class="dropdown-item">
              <%= link_to 'Altura Máxima', building_regulations_dashboards_path(), remote: true, id: 'building_regulations_floors' %>
            </div>
          </div>
        </div>
        <%= link_to dashboards_index_path(), class: "dropdown-item custom-item", remote: true, style: 'display: none', id: 'vor_dem' do %><i class="fas fa-dice-d20" title="Voronoi" style="font-size: 22px"></i><% end %>
        <%= link_to dashboards_index_path(), class: "dropdown-item custom-item", remote: true, style: 'display: none', id: 'type_point' do %><i class="fas fa-circle" title="Puntos" style="font-size: 13px"></i><% end %>

        <!-- Puntos Proporcionales -->
        <div href="#" id="prop-prv" class="dropdown-submenu" style="display: none">
          <a class="dropdown-item custom-item item-submenu" href="#">
            <i class="fas fa-braille" title="Proporcionales" style="font-size: 22px"></i>
          </a>
          <div class="dropdown-menu">
            <div class="dropdown-item">
              <%= link_to 'Disponibilidad', dashboards_graduated_points_path(), remote: true, id: 'prop_prv_availability' %>
            </div>
            <div class="dropdown-item">
              <%= link_to 'Venta Mensual', dashboards_graduated_points_path(), remote: true, id: 'prop_prv_sale' %>
            </div>
            <div class="dropdown-item">
              <%= link_to 'UF', dashboards_graduated_points_path(), remote: true, id: 'prop_prv_uf' %>
            </div>
            <div class="dropdown-item">
              <%= link_to 'UF m² útil', dashboards_graduated_points_path(), remote: true, id: 'prop_prv_uf_m2_util' %>
            </div>
          </div>
        </div>
        <div href="#" id="prop-cbr" class="dropdown-submenu" style="display: none">
          <a class="dropdown-item custom-item item-submenu" href="#">
            <i class="fas fa-braille" title="Proporcionales" style="font-size: 22px"></i>
          </a>
          <div class="dropdown-menu">
            <div class="dropdown-item">
              <%= link_to 'UF', dashboards_graduated_points_path(), remote: true, id: 'prop_cbr_uf' %>
            </div>
            <div class="dropdown-item">
              <%= link_to 'UF m² útil', dashboards_graduated_points_path(), remote: true, id: 'prop_cbr_uf_m2_util' %>
            </div>
          </div>
        </div>
        <%= link_to dashboards_graduated_points_path(), class: "dropdown-item custom-item", id: 'prop-em', style: 'display: none', remote: true  do  %><i class=" fas fa-braille" title="Proporcionales" style="font-size: 22px"></i><% end %>

        <!-- Heatmap -->
        <div href="#" id="heat-prv" class="dropdown-submenu" style="display: none">
          <a class="dropdown-item custom-item item-submenu" href="#">
            <i class="fas fa-fire" title="Heatmap" style="font-size: 22px"></i>
          </a>
          <div class="dropdown-menu">
            <div class="dropdown-item">
              <%= link_to 'UF', dashboards_heatmap_path(), remote: true, id: 'heat_prv_uf' %>
            </div>
            <div class="dropdown-item">
              <%= link_to 'UF m² útil', dashboards_heatmap_path(), remote: true, id: 'heat_prv_uf_m2_util' %>
            </div>
          </div>
        </div>
        <div href="#" id="heat-cbr" class="dropdown-submenu" style="display: none">
          <a class="dropdown-item custom-item item-submenu" href="#">
            <i class="fas fa-fire" title="Heatmap" style="font-size: 22px"></i>
          </a>
          <div class="dropdown-menu">
            <div class="dropdown-item">
              <%= link_to 'Cantidad', dashboards_heatmap_path(), remote: true, id: 'heat_cbr_amount' %>
            </div>
            <div class="dropdown-item">
              <%= link_to 'UF', dashboards_heatmap_path(), remote: true, id: 'heat_cbr_uf' %>
            </div>
            <div class="dropdown-item">
              <%= link_to 'UF m² útil', dashboards_heatmap_path(), remote: true, id: 'heat_cbr_uf_m2_util' %>
            </div>
          </div>
        </div>
        <%= link_to dashboards_heatmap_path(), class: "dropdown-item custom-item", id: 'heat-em-dem', style: 'display: none', remote: true  do  %><i class=" fas fa-fire" title="Heatmap" style="font-size: 26px"></i><% end %>

      </div>
    </div>

    <!-- Útiles Dropdown -->

    <% if (current_user.role.name == 'IPRO') || (current_user.role.name == 'IPRO+'|| (current_user.role.name == 'Admin')) %>
      <div class="nav-item dropdown">
        <button class="btn btn-primary my-2 my-sm-0 nav-link dropdown-toggle nocaret dropdown-width" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-plus" title="Útiles"></i>
        </button>
        <div class="dropdown-menu custom-menu" aria-labelledby="navbarDropdown">
          <%= link_to "#", id: "pdf", class: "dropdown-item custom-item reports", data: {remote: true} do  %> <i class=" fas fa-file-pdf" title="Informe PDF" style="font-size: 26px"></i><% end %>
          <%= link_to "#", id: "boost", class: "dropdown-item custom-item", remote: true do %> <i class=" fas fa-database" title="Base Completa" style="font-size: 26px"></i> <%end %>
          <%= link_to "#", id: "base", class: "dropdown-item custom-item reports", remote: true  do  %> <i class=" fas fa-file-excel" title="Descarga XLS" style="font-size: 26px"></i><% end %>
          <%= link_to "#", id: "graph", class: "dropdown-item custom-item reports", remote: true  do  %> <i class="far fa-file-excel" title="Descarga Resumen XLS" style="font-size: 26px"></i><% end %>
        </div>
      </div>
    <% end %>

    <!-- Cuenta Dropdown -->
    <div class="nav-item dropdown">
      <button class="btn btn-primary my-2 my-sm-0 nav-link dropdown-toggle nocaret dropdown-width" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user" title="Usuario"></i>
      </button>
      <div class="dropdown-menu custom-menu" aria-labelledby="navbarDropdown">
        <%= link_to users_account_path(), class: "dropdown-item custom-item reports", remote: true,  id:"user_data"  do  %> <i class=" fas fa-user" title="Mi Cuenta" style="font-size: 26px"></i><% end %>
        <%= link_to application_statuses_path(), class: "dropdown-item custom-item reports", remote: true,  id:"sessions"  do  %> <i class=" fas fa-save" title="Administrador Sesiones" style="font-size: 26px"></i><% end %>
        <%= link_to destroy_user_session_path, method: :delete, 'class' => 'dropdown-item custom-item' do  %> <i class=" fas fa-sign-out-alt" title="Salir" style="font-size: 26px"></i> <% end %>
      </div>
    </div>

  </div>

</nav>

<%= yield %>
