<!DOCTYPE html>
<html>
  <head>
    <%= render :partial => 'layouts/head' %>
  </head>
  <body data-controller="<%= params[:controller] %>" data-action="<%= safe_action_name params[:action] %>" class="nav-sm  dashboard">
    <%= render partial: 'layouts/admin_header' %>
    <div class="row">
      <%= render "layouts/flash_messages" %>
    </div>

    <%= yield %>
  </body>
</html>
