<div class="form-signin">
  <div class="card bg-light mb-3" style="max-width: 20rem;">
    <div class="card-body text-primary">
      <p>Si deseas contratar primero debes registrarte. El siguiente paso es enviar una correo a <a class="text-info" href="mailto:flex@inciti.com">flex@inciti.com</a> indicando:</p>
      <ul>
        <li>Nombre</li>
        <li>Empresa o Institución</li>
        <li>RUT</li>
        <li>Cantidad de Informes</li>
      </ul>
      <p>Nuestra administradora de plataforma se contactará contigo para darte precio unitario y total de los informes cotizados, datos para pago e indicaciones de uso.</p>
      <p>¡Gracias por elegirnos!</p>
      <p>Inciti.</p>
    </div>
  </div>
</div>

<div class="form-signin">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <center> <%=image_tag "round_inciti.png", class: "mb-4", height:"120" %> </center>

    <div class="form-group">
      <%= f.text_field :name, class: 'form-control', autofocus: true, placeholder: "Usuario" %>
    </div>

    <div class="form-group">
      <%= f.text_field :complete_name, class: 'form-control', placeholder: "Nombre Completo" %>
    </div>

    <div class="form-group">
      <%= f.email_field :email, autocomplete: "email", class: 'form-control', placeholder: "E-mail" %>
    </div>

    <div class="form-group">
      <%= f.text_field :rut, class: 'form-control', placeholder: "RUT" %>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-mb-10 pl-3 pb-3">
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> Caracteres mínimos)</em>
          <% end %><br/>
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: "Contraseña", data: { show_password: true } %>
        </div>
        <div class="col pt-4 mr-sm-4">
          <a data-action-show-password class="far fa-eye-slash"></a>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', placeholder: "Repetir Contraseña" %>
    </div>

    <div class="actions">
      <%= f.submit class: 'btn btn-lg btn-primary btn-block', value: "Regístrate" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>

</div>
